[2018-12-03 16:33] MeirShpilraien opened #10 "Add support for stream registration on keys by prefix"

[2018-12-03 16:35] MeirShpilraien opened #11 "Review documentation"

[2018-12-05 14:36] MeirShpilraien opened #14 "Support typologies changes during execution runs"

[2018-12-06 13:30] gkorland opened #18 "Can't drop execution"
[code]

[2018-12-06 16:19] #18 closed, assigned to nobody

[2018-12-06 16:19] MeirShpilraien opened #20 "Allow dropping registred execution"

[2018-12-06 16:19] MeirShpilraien opened #21 "Put flat execution in redis key on a single shard by hash function"

[2019-01-07 14:45] MeirShpilraien opened #29 "Allow broadcasting pyobjects to all cluster"

[2019-01-13 17:17] MeirShpilraien opened #30 "Add a check for gears low level api version"

[2019-02-10 15:32] #30 closed, assigned to nobody

[2019-02-10 15:34] MeirShpilraien opened #32 "Improve performance"
1. Multi threaded execution.
2. Do not convert record to pyobject, instead expose the record to the python as is using pyobject api.

[2019-02-10 15:36] MeirShpilraien opened #33 "Create python client"
Python clients can send compiled callback to run.

[2019-02-10 16:23] MeirShpilraien opened #34 "Implement reader interface through python to allow user implement readers with python"

[2019-02-11 12:25] MeirShpilraien opened #35 "Persist register executions on topology changes"

[2019-02-12 15:12] #10 closed, assigned to nobody

[2019-02-22 12:40] itamarhaber opened #38 "Refactor/rename DL to AI"

[2019-02-23 13:40] itamarhaber opened #39 "`make get_deps` requires root"
[code]

[2019-02-23 13:41] itamarhaber opened #40 "Support making on OSX"
[code]

[2019-02-28 18:56] itamarhaber opened #42 "Running `REEXECUTE` with nothing just hangs"

[2019-02-28 18:56] itamarhaber opened #43 "[FR] List `register()'ed gears"

[2019-02-28 18:57] itamarhaber opened #44 "[FR] Remove a `register()`ed gear"

[2019-02-28 18:57] itamarhaber opened #45 "[FR] Pause the execution of a `register()`ed gear"

[2019-02-28 18:59] itamarhaber opened #46 "Stream reader record needs fixes"
Should be more like what XREAD ... STREAMS returns. I.e. key names and message ids.

[2019-02-28 19:01] itamarhaber opened #47 "Need a way to prevent DUMPEXECUTIONS from "leaking""
Should only store the last N executions, like SLOWLOG. Should be configurable in runtime. Also, need a way to `RESET` it.

[2019-03-01 12:31] itamarhaber opened #48 "The null character and possibly others"
We have a problem with binary data in Strings:

[code]

[2019-03-10 08:37] MeirShpilraien opened #50 "Solve deadlock on large data execution"
Deadlock happened when message pipe is full. The write operation then block and wait for someone to read from the pipe while holding the global lock. The problem is that the thread who should read from the pipe tries to acquire the global lock, and we get a deadlock.

Solution mode the msg pipe writing to another thread (not the main thread) that does not require acquiring the global lock. Pass me

[2019-03-10 19:32] #50 closed, assigned to MeirShpilraien

[2019-03-11 09:31] MeirShpilraien opened #51 "Support list of regex on RUN/REGISTER and not only prefix"

[2019-03-11 09:35] MeirShpilraien opened #52 "Add the type to the record and allow creating an executions by type (not by keys)"

[2019-03-11 11:12] #48 closed, assigned to MeirShpilraien

[2019-03-11 16:02] gkorland opened #53 "Crash on Gears + Search"
[code]

[code]

[code]

[2019-03-12 08:05] MeirShpilraien opened #55 "redisgears.executeCommand('get', 'x') return '\r\n' at the end of the line!!"
RG.PYEXECUTE "gearsCtx().map(lambda x : redisgears.executeCommand('get', 'x')).map(lambda x:str(x)).run()"

[2019-03-12 09:11] MeirShpilraien opened #56 "Add sugar syntax to pyexecute command"
- count - count the number of records
- distinct count - count the distinct number of records
- count by - group by + count reducer
- distinct count by - group by + distinct count reducer
- aggregate(zeroValue, seqOp, combOp) - like accumulate, but it gets the zero value, the accumulate, and combine accumulators (for better cluster support)
- aggregateby - same as aggregate but includes groupby
-

[2019-03-13 12:51] gkorland opened #59 "redisgears.executeCommand with wrong arguments crashes server"
[code]

[2019-03-13 14:52] #55 closed, assigned to rafie

[2019-03-13 16:38] MeirShpilraien opened #61 "Check if given function can be serialized and deserialized before accept it as argument"
This will prevent us finding out to late that we can not deserialize function on another machine.

[2019-03-14 10:03] #53 closed, assigned to MeirShpilraien

[2019-03-14 11:25] #59 closed, assigned to MeirShpilraien

[2019-03-14 11:52] K-Jo opened #62 "Traffic generator"
We'd need a script that imports the IMDB dataset and a (number of) aggregation queries to assess gears ran correctly on it

[2019-03-17 12:53] itamarhaber opened #64 "Building the docker image has some cpython errors"
[code]

[2019-03-18 12:25] #64 closed, assigned to nobody

[2019-03-18 18:55] #56 closed, assigned to nobody

[2019-03-18 19:14] #47 closed, assigned to rafie

[2019-03-18 20:25] K-Jo opened #68 "Document commands"
PYEXECURTE
DUMPEXECUTIONS
DROPEXECUTION

... anything missing? should go in docs/commands.md

lay out --> redistimeseris.io is good example

[2019-03-18 20:26] K-Jo opened #69 "Document config parameters"
in https://github.com/RedisLabsModules/RedisGears/pull/67#issuecomment-474081610 an config parameter for maxecutions was introduced.

any other?

[2019-03-18 20:28] K-Jo opened #70 "Load config parameters dynamically"
maxecutions can now be set at load time.  Would it make sense to set it at runtime?
[code]

[2019-03-18 22:39] itamarhaber opened #71 "[CRASH] StreamReader appears to be broken"
Minimal reproduce (key can either exist or not):

[code]

Trace is stripped (docker) but still:
[code]

[2019-03-19 09:14] #40 closed, assigned to nobody

[2019-03-19 13:38] #71 closed, assigned to nobody

[2019-03-20 01:29] itamarhaber opened #78 "StreamReader returns records in reverse order (new to old)"
[code]

[2019-03-20 08:54] rafie opened #79 "Join RG.CONFIGGET and RG.CONFIGSET into RG.CONFIG {GET|SET|HELP}"
https://github.com/RedisLabsModules/RedisGears/pull/74#issuecomment-474445501

[2019-03-25 14:18] K-Jo opened #82 "GearsBuilder(keysOnly = true)"
In stead of creating `KeysOnlyGB` let's have a Single GearsBuilder object, but allow to set in the constructor if you want keysOnly. (which is by default false)

[2019-03-27 13:31] #82 closed, assigned to MeirShpilraien

[2019-03-27 13:32] K-Jo opened #88 "Filter out keys in register()?"
[code]
can we filter out `all_keys` in register()

[2019-03-27 13:36] K-Jo opened #89 "Suggar syntax for fetching keys from hashes"
[code]
could be
[code]
?

[2019-04-05 01:00] #69 closed

[2019-04-05 01:01] MeirShpilraien commented on #69
Already added to documentation

[2019-04-05 01:01] #68 closed

[2019-04-05 01:04] MeirShpilraien commented on #34
Implemented here: https://github.com/RedisLabsModules/RedisGears/commit/ffc507c7119e9208311788e94870d9c99f41440f

[2019-04-05 01:04] #34 closed

[2019-04-05 01:05] MeirShpilraien commented on #39
Already been fixed

[2019-04-05 01:05] #39 closed

[2019-04-05 01:08] MeirShpilraien opened #94 "Avoid dropping running execution when reaching MaxExecutions"

[2019-04-06 23:28] sgama opened #96 "Cannot build Docker image"
I cannot build the Docker image on a Windows or MacOS host.

Here's the output from a Windows host:
[code]

[2019-04-06 23:39] itamarhaber commented on #96
Hello @sgama

Have you run `git submodule init` and `git submodule update` in the repo's directory?

[2019-04-07 17:49] sgama commented on #96
Hey @itamarhaber, that was it. It worked. I'll close the issue.

[2019-04-07 17:49] #96 closed

[2019-04-07 21:01] sgama commented on #44
At this time, is it not possible to remove a "registered" gear?

In one of the examples, we are able to prevent any new keys from being entered into Redis:
[code]

Can we "undo" this registered gear? I tried something like:
[code]
Unfortunately it did not let me add new keys again. The only solution was to delete all container data and restart redis.

This issue is over a month old. I'm curious to

[2019-04-07 23:06] itamarhaber commented on #44
I'm quite positive it will be resolved soon - hang tight ;)

[2019-04-08 11:59] MeirShpilraien commented on #44
@sgama re-add the key will not help because it will trigger another delete. We will soon support dropping register gear.

[2019-04-10 21:16] gkorland opened #98 "Support pythons script debug"

[2019-04-16 04:50] #70 closed

[2019-04-16 04:58] MeirShpilraien opened #100 "Recover network and node failure during execution"
1. On network failure - continue after reconnect
2. On node failure - abort running executions

[2019-04-16 11:24] K-Jo opened #101 "Support for Python 3"

[2019-04-18 10:32] K-Jo opened #103 "Gears to be able to register to expiring of keys"

[2019-04-22 17:40] itamarhaber opened #104 "[FR] Executions should record their origin"
E.g., if a client calls RG.PYEXECUTE, DUMPEXECUTIONS/GETEXECUTION should report information like CLIENT LIST, e.g.:
- Client name
- Client ip:port
- Client connection id

If the call is a map reduce, the originating shard connection should be put.

If the call is a registered plan, maybe display something like "INTERNAL"

[2019-04-23 06:46] MeirShpilraien commented on #104
@itamarhaber why do you need it? (you know that redis does not expose the info to modules).

[2019-04-23 08:55] MeirShpilraien commented on #100
network error recovery: https://github.com/RedisLabsModules/RedisGears/pull/99

[2019-04-23 08:57] MeirShpilraien commented on #38
Already done!

[2019-04-23 08:57] #38 closed

[2019-04-23 14:57] MeirShpilraien opened #105 "Remove the use of moduleRegisterApi"
Instead use the register api which was introduce in redis 5.0.4.
If the api does not exist continue without it.

[2019-04-24 12:52] itamarhaber commented on #104
@MeirShpilraien you can get the connid from the ctx and then RM_Call('CLIENT LIST') to find the rest of the stuff... not sure why I had asked for it though.

[2019-04-27 10:37] itamarhaber opened #108 "Docker :edge image broken"
With and without `PythonHomeDir`:

[code]

[2019-04-27 14:02] itamarhaber commented on #108
So running with defaults we get:
[code]

And running with `redis-server --save "" --loadmodule ./redisgears.so PythonHomeDir `pwd`/deps/cpython` gets us:
[code]

This is a problem as we can't change the path at loadtime - @rafie ?

[2019-04-27 14:15] MeirShpilraien commented on #108
@itamarhaber
So the argument does not applied?

[2019-04-27 14:31] itamarhaber commented on #108
Exactly - currently I'm working around it by creating a softlink but it seems that the config runtime-modifiable check is not handling onLoad correctly.

[2019-04-27 14:40] #108 closed

[2019-04-27 14:44] itamarhaber opened #110 "Handle config values during init properly"
See #108 and #109

Also, do not return errors to init ctx.

[2019-04-27 14:44] MeirShpilraien opened #111 "Refactor CONFIG SET"
1. avoid returning a reply to the ctx pass to the init function
2. Split the init and config set function to 2 functions and remove the isInitialize variable

[2019-04-27 14:45] itamarhaber commented on #110
Duplicate of #111

[2019-04-27 14:45] #110 closed

[2019-04-27 14:51] MeirShpilraien opened #113 "Use redis 5.0.4 on CI"

[2019-04-29 15:26] AngusP opened #115 "StreamReader introduces reserved name `streamId`"
From the Streaming API example:

This introduces `streamId` as a special reserved name, such that a stream with a field of the same name, e.g. `XADD s1 * streamId asdf`, the value `asdf` would surely either get overwritten with `<stream-id>` or cause breakage? (I've not been able to check actual behaviour yet)

The more 'pythonic' thing is perhaps for the `x`es to be a class that extends `dict` ra

[2019-04-29 15:40] itamarhaber commented on #115
Hello @AngusP

This is essentially what is planned for addressing #46 - I agree that 'streamId' is not consistent with existing Redis Streams terminology.

[2019-04-30 09:06] K-Jo commented on #115
@AngusP can we close the issue and further track this in #46?  We plan to make this part of our 1.0 GA release

[2019-04-30 09:51] AngusP commented on #115
@K-Jo Sure, sounds good :smile:

[2019-04-30 09:51] #115 closed

[2019-05-10 13:48] itamarhaber opened #123 "Support patterns for Keys/KeysOnlyReader (and others)"
Address "currently we ignore args" comment in keys_reader.c:~327

Also #51 and #88

[2019-05-13 06:55] #105 closed

[2019-05-13 06:55] #101 closed

[2019-05-19 15:17] itamarhaber opened #130 "`make setup` on Linux should *not* require sudo to run"
Replaces #39

[2019-05-31 22:11] itamarhaber commented on #103
Also 'DEL' (which is what an expiry triggers).

[2019-06-06 08:23] K-Jo opened #137 "Convenient way to load python dependencies into docker container"
A way to declare python virtual environment outside container.  In extension it can be two fold:
1) a set of pip dependencies
2) a set of gears scripts

This way people can easily share their recipes in a bundled way.

[2019-06-14 20:00] itamarhaber opened #139 "[?] Refactor everything to use v5.0.5 commandfilter api instead of keyspace notifications"

[2019-08-03 05:36] haiyang-tju opened #144 "RedisGears crashed when I run command 127.0.0.1:6379> RG.PYEXECUTE "import numpy as np""
All settings and operations are normal. And everything runs ok.

When I ran the command "import numpy as np" twice:
[code]
redis logs are as follows:
[code]

I tried to recompile many times, but there will be the same errors.

numpy install by:
[code]

[2019-08-03 05:38] haiyang-tju commented on #144
Forgot to mention, I am running it on the jetson nano platform.

[2019-08-03 12:57] MeirShpilraien commented on #144
Can you compile with DEGUG=1 (make clean; make all DEBUG=1). Maybe will will get more information at the crash report this way.

[2019-08-07 15:42] FFazeli92 opened #146 "make all error"
When following the instructions to compile I get the following error:

[code]

[2019-08-07 18:26] rafie commented on #146
Can you please specify OS X version, Xcode version? Thanks!

[2019-08-07 18:41] FFazeli92 commented on #146
Xcode version: version: 10.3.0.0.1.1562985497

MacOS Mojave version 10.14.6

I have installed a number of modules with no issues. Only RedisGears is throwing up errors

[2019-08-13 13:59] MeirShpilraien commented on #146
@FFazeli92
There is an open PR for mac os build: https://github.com/RedisGears/RedisGears/pull/147
We are still trying to solve it. Until then you can try using docker.

[2019-08-16 01:51] haiyang-tju commented on #144
Thanks for your reply, and sorry for the late!

May be it's a program crash caused by some exceptions in the run. I will check it out by your suggestion.

I have another question about how to install a specific `.whl` package in `pipenv`(the generated virtual py environment of Gear)?

[2019-08-16 22:52] andresrinivasan opened #148 "Logging being printed to stdout rather than through logger"
[code]

The lines`could not initialize RedisAI_GetAPIVersion`, and `could not initialize RediSearch_CheckApiVersionCompatibility` are being printed to stdout rather than being logged.

[2019-08-18 21:44] andresrinivasan commented on #148
What do those warnings mean?

[2019-08-19 06:11] MeirShpilraien commented on #148
@andresrinivasan those are new capability that was introduce in redis v5.0.3 that allows modules to use each other capability with a direct function call. The warning say that redisearch and redisai are not loaded so you will not be able to use them. I agree it should be printed only to the log file and not to the stdout.

[2019-08-19 06:14] MeirShpilraien commented on #144
Can't you just install it with pip install?
You can enable the virtual env under /opt/redislabs/lib/modules/python3/.venv/ and use pip install.

[2019-08-19 09:48] K-Jo opened #152 "Atomic execution on shard level"
Certain executions might require to be done in an atomic way. e.g. if you want to update all keys that meet a certain <condition>.  RedisGears should optionally allow to execute these atomically, at least on shard level.

[2019-08-22 02:47] haiyang-tju commented on #144
Thanks very much!

[2019-08-22 02:47] #144 closed

[2019-09-13 12:22] irthomasthomas opened #153 "Building Libevent failed"
Hi,

I'm trying to build this on ubuntu 18.04, redis 5.0.5 and I get the following error:

Building libevent...
autoreconf: Entering directory `.'
autoreconf: configure.ac: not using Gettext
autoreconf: running: aclocal -I m4 --output=aclocal.m4t
Can't exec "aclocal": No such file or directory at /usr/share/autoconf/Autom4te/FileUtils.pm line 326.
autoreconf: failed to run aclocal: No such file or

[2019-09-13 20:39] irthomasthomas commented on #153
Yes make setup finished successfully.

On Fri, 13 Sep 2019 at 19:52, Rafi Einstein <notifications@github.com>
wrote:

[2019-09-13 20:47] irthomasthomas commented on #153
I've solved this issue now by installing automake. Thanks and Regards.

On Fri, 13 Sep 2019 at 19:52, Rafi Einstein <notifications@github.com>
wrote:

[2019-09-15 17:26] irthomasthomas opened #154 "SEGFAULT crash running demo recipes"
Hello,

I'm trying redisgears for the first time and I am running in to a problem when trying your Recipe #1. I the this issue may related to the maximum number of opened files, but I'm not sure how to proceed.
I have a sample dataset of 10k records which I import to redis using pipeline.hmset in python. When I do this without redisgears, then it always completes very quickly.
Now I attempt the sa

[2019-09-15 17:59] MeirShpilraien commented on #154
Can you pls share the crash report, also which version are you using?

[2019-09-15 18:09] irthomasthomas commented on #154
I'm running redis 5.0.5 on ubuntu 18.04. I installed redisgears only yesterday and it says version 99.99.99.

=== REDIS BUG REPORT START: Cut & paste starting from here ===
10721:M 15 Sep 2019 18:44:11.589 # Redis 5.0.5 crashed by signal: 11
10721:M 15 Sep 2019 18:44:11.589 # Crashed running the instruction at: 0x7f3d6c289338
10721:M 15 Sep 2019 18:44:11.589 # Accessing address: (nil)
10721:M 15 S

[2019-09-15 18:13] MeirShpilraien commented on #154
Thanks, I will try to reproduce locally. If you can provide reproduction steps it will be great.

[2019-09-15 18:25] irthomasthomas commented on #154
Great. I'm using an example from the website, so its:
builder = GearsBuilder()
builder.filter(lambda x: x['key'] != 'all_keys')
builder.map(lambda x: execute('sadd', 'all_keys', x['key']))
builder.register()

Now I insert a few thousand records with pipeline.hmset and it will fail around after 1-2k records.

[2019-09-16 07:03] MeirShpilraien commented on #154
@irthomasthomas if you see version 99.99.99 it means that you took the master branch. Regardless it looks like your problem is related to execution backlog. Gears runs your execution in a background thread. If you insert keys faster then what redisgears can process, the backlog queue get bigger and bigger. RedisGears hold up to 1000 execution and then drop the oldest execution (it can be configure

[2019-09-16 14:14] irthomasthomas commented on #154
Thank you @MeirShpilraien
So I've switched to 0.3.1 and increased MaxExecution to 8000. This improves throughput, but how high can I push this value and what are the potential side effects? As it stands, I can't insert more than ~2000 keys per second without crashing redis, which is much too slow to handle all the data I want to throw at it, and this using only a very simple gears example.

[2019-09-16 14:47] MeirShpilraien commented on #154
@irthomasthomas Can you describe the usecase a little more?

In theory you can push this value as high as you want, it will only cause a higher memory consumption. But if you keep pushing values faster then what RedisGears can process eventually you will run out of memory (though it will take long long time until it happened). If your use-case is pushing data fast at first and then stop, eventuall

[2019-09-18 12:42] MeirShpilraien commented on #154
@irthomasthomas another option, in case you do not need the data and just the keys (or maybe you just need a small part of the data in each key), is to use the 'KeysOnlyReader'. Keys only reader gives the execution only the key name and let you decide what to do with it (save it / read part of the data inside it / ...). The issue is that keys only reader is not support register yet (on v0.4.0).

G

[2019-09-18 16:00] irthomasthomas commented on #154
@MeirShpilraien Many thanks for this, you've actually answered a bunch of questions I had lined up (like whats up with KeysOnlyReader).
I'm planning on using gears on something like a twitter stream classification. I pull in a live stream of id's and a text block, I pre-process the text to clean it up and remove hashtags and emojis etc, before feeding it to a classification model. I thought this w

[2019-09-19 07:14] MeirShpilraien commented on #154
@irthomasthomas its sounds like a great usecase for RedisGears and RedisAI integration. I think the better approach here is to use the stream datatype (https://redis.io/topics/streams-intro). You can create a stream that contains all the twits and use the 'StreamReader' to process them, pass them through your AI model and classify them. RedisGears and RedisAI have an internal api that allows you t

[2019-09-22 23:06] andresrinivasan opened #156 "Exception in Gear function causes quiet failure"
Given the Gear

[code]

After loading the Gear with `redis-cli -x rg.pyexecute <gears/quietexception.py`, trigger the Gear with `redis-cli xadd foo * foo bar`. Log stream shows function entered but the exception quietly breaks the function.

[code]

[2019-09-23 06:04] MeirShpilraien commented on #156
On register, the execution is not connected to a client so there is no way to let him know about the failure. The execution log is save internally and can be retrieve using rg.getexecution <execution-id>

[2019-09-23 07:31] andresrinivasan commented on #156
If we think about debugging a Gear, I would want to be able to add my own logging to the execution log so I can narrow down the issue, perhaps be able to enable some default behavior like function enter/exit. I'm also not sure how to programmatically get the execution id as I load the Gear.

I'm also still wondering if we need a way to register an exception handler so that a monitoring system can

[2019-09-24 11:28] MeirShpilraien commented on #156
@andresrinivasan lets do this

[2019-10-07 15:10] Akhtar303 opened #157 "make all Error"
Hi @andresrinivasan @lantiga @yossigo @K-Jo
I am installing RedisGear
Run all steps succes fully like
- make setup
- sudo mkdir -p /opt
-make fetch # this will aquire git submodules
but when I ran
- make all
it genrate this error
/home/onstak/EdgeRealtimeVideoAnalytics/RedisGears/deps/libevent/evdns.c:2272:2: note: here
  default:
  ^~~~~~~
  CC       sample/hello-world.o
  CC       sample/http-se

[2019-10-07 15:15] MeirShpilraien commented on #157
Seems like you do not have RAMP (https://github.com/RedisLabs/RAMP).
Its not mandatory, you should be able to use redisgears even without packing it.

[2019-10-07 15:19] MeirShpilraien commented on #157
Ok seems like you do have RAMP but it failed to pack, probably the redis failed to start with redisgears. Please try to start the redis with the RedisGears module and send us the output (I believe we will see a failure...)

[2019-10-07 15:46] AlexTereshenkov opened #158 "make all error - Cannot find redis-server."
I am attempting to build `RedisGears` on Ubuntu 18.04 by running the following commands:

[code]

When running `make all`, the process stops with the error:

[code]

I wasn't able to find any guidelines on how to build the `RedisGears`, but I guess I may be missing a few dependencies. Does anyone know what are the build requirements? @gkorland

[2019-10-07 15:48] MeirShpilraien commented on #158
@AlexTereshenkov seems like you do not have redis server install...

[2019-10-07 15:51] AlexTereshenkov commented on #158
I suspected this. Do you know what exactly should be installed? Is it just `sudo apt install redis-server`?

[2019-10-07 15:53] MeirShpilraien commented on #158
It is best to just build from source : https://github.com/antirez/redis
Just checkout version 5.0.6:
git checkout 5.0.6
make
sudo make install

[2019-10-07 15:54] #158 closed

[2019-10-09 09:03] Akhtar303 commented on #157
@MeirShpilraien Thanks for reply
I am working EdgeRealtimeVideoAnalytics
link = https://github.com/RedisGears/EdgeRealtimeVideoAnalytics

when start redis with redisgear there is no error but when I ran python init.py then Tensorflow didn't load successfully but pytorch load successfully
**Eroor**
**80544:M 09 Oct 2019 08:40:50.269 # <ai> Backend TF not loaded, will try loading default backend**
r

[2019-10-10 07:01] MeirShpilraien commented on #157
@Akhtar303 Looks like the crash happened on RedisAI when it tries to load the TF Backend.
@lantiga Can you take a short look at the track stace, maybe you can easily identify the issue?

[2019-10-10 19:04] Akhtar303 commented on #157
Hi @lantiga @MeirShpilraien
kindly review my p roblem and suggest me any thing to solve this proble

[2019-10-10 20:31] lantiga commented on #157
Hi @Akhtar303, I'm not sure the issue is with AVX. Stock libtensorflow that we download for x86 is not compiled with AVX instructions AFAIK (it's the one provided by TensorFlow, see https://github.com/RedisAI/RedisAI/blob/master/get_deps.sh#L96). Also, it crashes on MODELSET, it shouldn't be doing anything specific to vectorized calculations, although we can't be sure.

This is tricky to debug, if

[2019-10-10 22:09] Akhtar303 commented on #157
Thanks @lantiga for your reply
You say build tensorflow from source inside RedisAI directory and replace old with new ??
Thanks

[2019-10-10 22:12] lantiga commented on #157
Yes, you can build libtensorflow from scratch on your machine. Take a look at the Makefile and Dockerfile for x86, this way we'll be able to rule out that it's something related to the package that is being distributed or the way it links to system libraries.

[2019-10-11 15:31] Akhtar303 commented on #157
Hi @lantiga
I am trying to build Tensorflow from source follow this make file **https://github.com/RedisAI/RedisAI/blob/master/opt/build/tensorflow/Makefile**
but it genrate this Error
pull access denied for redisfab/arm32v7-jdk-xbuild, repository does not exist or may require 'docker login' Makefile:89: recipe for target 'build_arm32v7' failed
Thanks

[2019-10-14 07:17] lantiga commented on #157
Hi @Akhtar303, it looks you are triggering the arm32 build. I suggest you build for x64 on your machine using the Dockerfile we provide:
https://github.com/RedisAI/RedisAI/blob/master/opt/build/tensorflow/Dockerfile.x64

You should be able to do that by `cd`ing into `opt/build/tensorflow/` and run `docker build -t tfbuild .`. Let me know how it goes, thanks

[2019-10-14 08:35] Akhtar303 commented on #157
Thanks @lantiga for reply
**sudo docker build - <  Dockerfile.x64**
but genrate this error

**Removing intermediate container 7f33af2f5160
 ---> 6892a9d4d3f0
Step 39/41 : ADD ./opt/readies/ /build/readies/
ADD failed: stat /var/lib/docker/tmp/docker-builder319108304/opt/readies: no such file or directory**

[2019-10-15 06:25] Akhtar303 commented on #157
@lantiga kindly suggest me changes to solve this problem.

[2019-10-15 17:35] irthomasthomas opened #159 "Installing python packages"
Hi I'm trying to use nltk in redisGears but it says _sqlite3 is not available.

I thought sqlite being part of python3 stdlib it would be available in the gears?

Cheers
Thomas

[2019-10-15 18:34] rafie commented on #159
Sure, we'll enable it.

[2019-10-15 18:58] Akhtar303 commented on #157
Hi @lantiga @andresrinivasan @yossigo @K-Jo @MeirShpilraien
Kindly suggest me any changes in dockerfile to resolve the issue.

[2019-10-16 13:03] rafie opened #160 "test_basics:testBasicStreamProcessing with 3 shards: crash on exit"
When running the following:
[code]
Test passes, then Redis crashes on exit.
From log:
[code]

[2019-10-17 07:16] MeirShpilraien commented on #157
@rafie could this error be related to your build system?

[2019-10-17 08:11] rafie commented on #157
No, they're just playing Russian roulette with the build system in hope that it would resolve what seems to be a EdgeRealtimeVideoAnalytics integration issue. I prefer to handle it in the right context, which is EdgeRealtimeVideoAnalytics.

[2019-10-17 08:24] Akhtar303 commented on #157
@rafie @MeirShpilraien so who can help me to resolve the problem.
I created  same this issue on **https://github.com/RedisGears/EdgeRealtimeVideoAnalytics/issues/12**
but no one response it.
Thanks

[2019-11-19 09:44] #159 closed

[2019-12-03 16:16] MeirShpilraien opened #166 "Swap sub-interpreter when one gear causing execution of another gear"
Today its not swapped and the second gear continues in the sub interpreter of the first gear.

[2019-12-09 14:14] MeirShpilraien opened #173 "RedisGears Crashed"
Happened on : e46dbbfce5108b980e09e3543596c4ad20fc2e41
[code]

[2019-12-15 13:21] irthomasthomas opened #178 "Make setup: permission denied"
Hi,
I'm trying to install on a new system (ubuntu 18.04) and having trouble. Running make setup without sudo gives the error below. I've tried the main branch and 0.4 and they both fail. If I run sudo make setup, that works, but then the next steps fail.

make setup
Setting up system...
apt-get -qq update -y
E: Could not open lock file /var/lib/apt/lists/lock - open (13: Permission denied)
E: Unab

[2020-01-21 09:25] MeirShpilraien commented on #178
@rafie should it work now?

[2020-01-22 12:36] #178 closed

[2020-01-23 14:46] MeirShpilraien opened #192 "Define utf8 type to make sure we use it with utf8 compatible functions"

[2020-01-27 12:07] MeirShpilraien opened #194 "Combine KeysReader and StreamsReader share code"
Put the share code inside BaseReader

[2020-02-14 16:24] itamarhaber opened #209 "`make all` on macos catalina fails on"
[code]

[2020-02-15 21:24] MeirShpilraien commented on #173
Fixed on current master

[2020-02-15 21:24] #173 closed

[2020-02-15 21:29] MeirShpilraien commented on #152
Master contains the ability to register SYNC execution that runs on the main thread. We can expose this capability to executions as well (.run() and not only .register()). One disadvantage is that SYNC executions are local to the shard and not distributed.

[2020-02-15 21:32] MeirShpilraien commented on #148
It is possible now to use Log function (inside the gears function) to write to the redis log file:
[code]

[2020-02-15 21:32] #148 closed

[2020-02-15 21:36] MeirShpilraien commented on #103
It is now possible to specify a list of operation to register on (white list), among them: del, expire.

[2020-02-15 21:36] #103 closed

[2020-02-15 21:37] MeirShpilraien commented on #94
Fixed on current master. Execution will be delete when done.

[2020-02-15 21:37] #94 closed

[2020-02-15 21:39] MeirShpilraien commented on #78
Fixed on current master.

[2020-02-15 21:39] #78 closed

[2020-02-15 21:40] MeirShpilraien commented on #52
It is now possible to specify the keys types (white list) on which to trigger an execution.

[2020-02-15 21:40] #52 closed

[2020-02-15 21:41] MeirShpilraien commented on #45
Unregister is now supported

[2020-02-15 21:41] #45 closed

[2020-02-15 21:42] MeirShpilraien commented on #44
Unregister is now supported.

[2020-02-15 21:42] #44 closed

[2020-02-15 21:43] MeirShpilraien commented on #43
RG.DUMPREGISTRATIONS

[2020-02-15 21:43] #43 closed

[2020-02-15 21:43] MeirShpilraien commented on #42
Removed this command on current master

[2020-02-15 21:43] #42 closed

[2020-02-15 21:44] MeirShpilraien commented on #21
We decided to put the registrations in the aux data

[2020-02-15 21:44] #21 closed

[2020-02-15 21:44] MeirShpilraien commented on #20
RG.UNREGISTER

[2020-02-15 21:44] #20 closed

[2020-02-17 05:41] MeirShpilraien commented on #209
@rafie can we close this?

[2020-02-17 05:42] MeirShpilraien commented on #160
I suspect this once should be fixed on master, @rafie can you verify?

[2020-02-17 14:41] AkshayAnurag opened #214 "Redis crashing after running script from example"
Hi,
I was running the example from `RedisMultiModel` repository (https://github.com/RedisGears/MultiModelExample/blob/master/script.sh)

Redis is crashing in all these setups:
(Ubuntu 18.04)
RedisGears version: **0.4.0 preview release**

1. Redis Latest Stable version (5.0.7) [built from source] + modules loaded from `so` files
2. Redis version (4.0.9) [install from `aptitude package manager`] + m

[2020-02-17 14:42] AkshayAnurag commented on #214
Let me know if you need more information.

[2020-02-17 15:52] MeirShpilraien commented on #214
Please specify the redisearch version you are using and notice that gears only works with redis 5.0.7 and above.

[2020-02-17 16:28] AkshayAnurag commented on #214
@MeirShpilraien Thanks for the quick response.

RedisGears version: **0.4.0 preview release**

I have tried with Redis 5.0.7 as well.

[2020-02-17 16:34] MeirShpilraien commented on #214
Did you compiled RedisGears yourself? Can you test with current master?

[2020-02-17 17:29] AkshayAnurag commented on #214
Yes, I had tried both ways:

1. Compiled from source code of the master branch
2. Ran from docker

I got the same error in both cases.

[2020-02-17 17:35] MeirShpilraien commented on #214
Just run it locally and its not crashing:
[code]
Can you share the output of the master (full log file including the crash report)?
Also which redisearch version are you using?

[2020-02-18 07:33] AkshayAnurag commented on #214
Redisearch version: **Built from master (1.6.8)**

I tried again with:
Redis: 5.0.7
RedisGears: built from master (0.4.0 preview release)
Redisearch: built from master (1.6.8)
RedisGraph: built from master (2.0.1)
RedisTimeSeries: built from master (1.2.3)

This time I didn't get any issues until Redisearch commands but then upon registering redisgraph related commands, it crashed.
(https://github

[2020-02-18 07:37] MeirShpilraien commented on #214
This looks like a crash on RedisGraph which probably related to the fact that graph perform the query in background thread.
@swilly22 any way we can tell graph to perform the query in the current thread when using RM_Call? Also if you can take a look at the crash report, maybe you can spot something which tells us why it crashing?

[2020-02-18 09:26] rafie commented on #209
#210 fxed the missing packages problem.
In CircleCI, we build for macOS mojave (10.14). I'll verify the catalina (10.15) build before we close this.

[2020-02-19 06:11] MeirShpilraien commented on #214
@AkshayAnurag I talked to @swilly22 internally and looks like I was right about my suspicious, we will update you when we have a solution that will allow redisgraph to know that it was called from inside a module and not to take the execution to another thread.

[2020-02-19 06:14] MeirShpilraien commented on #214
If you want a workaround for now you can run a small lua that called the graph query and call this lua from the gear execute command. Graph will identify that it was called from within a lua and will not pass the execution to another thread.

[2020-02-20 16:16] MeirShpilraien opened #220 "Support full regex pattern on register"

[2020-02-21 21:31] shkediy opened #221 "Make stream trimming optional."
When registering to a stream, after processing the stream item, gears trims the stream to size 0. It would be nice to have that as an option so that the stream can be kept in items need to be accessed later.

[2020-02-23 00:25] atlantageek opened #223 "make all on ubuntu 18 fails"
$ make all
Im getting the following error.

Building pyenv...
make[1]: Nothing to be done for 'pyenv'.
Packing module...
/home/atlantageek/bin/python: Error while finding module specification for 'RAMP.ramp' (ModuleNotFoundError: No module named 'RAMP')
Failed to pack release
Makefile:304: recipe for target 'artifacts/release/redisgears.linux-bionic-x64.99.99.99.zip' failed
make: *** [artifacts/re

[2020-02-23 07:53] MeirShpilraien commented on #223
Hey

The failed stage is packaging the artifacts into zip that can be loaded to redis enterprise. You need RAMP (https://github.com/RedisLabs/RAMP) in order to do (the system setup should have install it, did you run it?).

Anyway in order to run the module on oss redis you do not really need it, make sure you have redisgears.so in the main directory of RedisGears and run `redis-server --loadmodul

[2020-02-23 13:42] rafie commented on #223
The reason pyton fails to find RAMP.ramp is probably because python, on your machine, refers to a Python 3 interpreter. One way to work around it is to create (and activate) a virtual environment with your Python 2 interpreter, and then run system-setup.py. This will only install the required Python packages (including RAMP) into the virtual environment (as native packages have already been instal

[2020-02-23 19:10] atlantageek commented on #223
So does it use python 2?

On Sun, Feb 23, 2020, 08:42 Rafi Einstein <notifications@github.com> wrote:

[2020-02-24 09:54] MeirShpilraien commented on #223
Only the for build. Gears itself runs and embedded python3 interpreter and as I said you can skip this part, if you have the redisgears.so file created then you are good to go.

[2020-02-26 10:11] MeirShpilraien commented on #223
@atlantageek did you got it working? Can we close the issue?

[2020-02-27 13:35] atlantageek commented on #223
I did not get it working. I have the .so but something was still not
right.  So the issue changed to something else and you can close it.

On Wed, Feb 26, 2020 at 5:11 AM Meir Shpilraien (Spielrein) <
notifications@github.com> wrote:

--
http://www.atlantageek.com

[2020-02-27 13:55] MeirShpilraien commented on #223
Can you share what is the issue now?

[2020-02-28 11:21] itamarhaber opened #229 "Cluster is borked with Redis 6.0RC1"
Despite having a run id and healthy `RG.INFOCLUSTER` and `CLUSTER INFO`, nodes are `n->status == 1 // Network_Disconnected`

(also remember to add status to `RG.INFOCLUSTER`)

[2020-03-01 16:51] gkorland opened #236 "KeyReader on Stream, Set, Geo and SortedSet returns None on value"
[code]

[code]

[2020-03-01 18:27] itamarhaber commented on #236
Known "issue" - even documented in the draft. We need to define how these values (and also modules') are serialized to records.

[2020-03-01 18:31] itamarhaber commented on #51
Also, "regex" and "prefix" should be consolidated into "pattern" that will be used for all purposes (user experience).

[2020-03-01 18:35] itamarhaber opened #237 "Refactor StreamReader's records"
It would make more sense imo to break everything now and have the reader's output be a dict as follows:

* key: name of Stream key (for future compat. w/ multiple streams)
* id: message id (instead of the existing "streamId")
* data: a dict with keys (and values) matching those of the message's fields

[2020-03-02 14:05] itamarhaber opened #238 "Add key type to readers' output"
It would be good to have an additional 'type' value (e.g. "string", "hash",...) to the records that are output by KeysReader. The same for KeysOnlyReader, but also support disabling that feature in that case (to reduce latency when type isn't needed, e.g. when the user puts a single type in the whitelist).

[2020-03-04 22:06] itamarhaber opened #240 "The Pythonic API's `Log`..."
...should be refactored to `log` for style and have the following signature: `def log(message, level='warning')`

[2020-03-05 14:08] itamarhaber opened #243 "Double error when doing this..."
[code]

Needs to be fixed and pushed to all affected modules.

[2020-03-05 14:11] itamarhaber opened #244 "Why does RG.CONFIGGET return an array?"
... do we get an array as a reply? (note the rhyming)
[code]

[2020-03-05 14:13] itamarhaber commented on #243
Actually, seems to be connected to #244 ;)

[2020-03-05 14:13] #243 closed

[2020-03-05 14:16] #29 closed

[2020-03-05 15:17] #152 closed

[2020-03-05 19:49] MeirShpilraien commented on #244
Its because you can get multiple values in a single RG.CONFIGGET

[2020-03-07 14:05] itamarhaber commented on #244
Ah. Interesting.

[2020-03-08 16:48] #209 closed

[2020-03-10 12:19] MeirShpilraien commented on #238
Its not always available for register, for example if key was delete I only know it was deleted so its going to be best efforts ..

[2020-03-11 12:33] #11 closed

[2020-03-15 17:00] itamarhaber opened #258 "rgcluster docker recipe"
is currently always using the redislabs/redisgears:latest base image, whereas it should pick it from the version currently build (or master/edge).

The possible solution is to move docker images building from docker hub to our ci.

[2020-03-26 13:30] MeirShpilraien commented on #46
@itamarhaber I think this one is fixed here: https://github.com/RedisGears/RedisGears/pull/263

We can close it right?

[2020-03-28 12:26] itamarhaber commented on #46
Once #263 is merged, sure.

[2020-04-07 16:37] irthomasthomas opened #280 "RG.PYEXECUTE fails on v0.9"
I'm trying to upgrade my redis stack to the latest versions but my projects gear fails to register.
Working: Ubuntu18.04 / redis-5.0.7 / redisgears-0.4.0
Not working: Ubuntu18.04 / redis-5.0.8 / redisgears-0.9.0

redis-cli RG.PYEXECUTE "$(cat ~/scrape/tom/oldgear/gear.py)"
(error) ['Traceback (most recent call last):\n', '  File "<string>", line 230, in <module>\n', '  File "<string>", line 136, i

[2020-04-07 16:43] MeirShpilraien commented on #280
Seems like your runModel2 function is not serializable, can you share gear.py code?

[2020-04-07 16:51] irthomasthomas commented on #280
`from stop_words import get_stop_words
import re
import string
# from sklearn.feature_extraction.text import TfidfVectorizer
import pickle
import numpy as np
import time
from redis import Redis

conn = Redis()

vectorizer = pickle.load(open("vectorizer.pickle", "rb"))
stopwords = get_stop_words('english')

def pre_proc_text(x):

    def extract_hashtags(caption):
        regexp = re.compile(r"(?:#

[2020-04-07 17:17] MeirShpilraien commented on #280
Seems like you open a redis connection and use it in the `runModel2` function. I understand why you do it cause RedisAI pass the execution to a background thread and so you can not use execute. On v0.9.0 we persist the execution in the rdb so when you restart the redis you will not lose them, this is also why we enforce all registrations to be serializable.

A way to solve it is to set the `conn`

[2020-04-07 18:57] irthomasthomas commented on #280
@MeirShpilraien Ahh yes, that did the trick. Cheers.

[2020-04-12 11:47] MeirShpilraien commented on #280
@irthomasthomas can we close this issue?

[2020-04-13 08:06] irthomasthomas commented on #280
Yes that's fine.  Cheers.

On Sun, Apr 12, 2020, 12:47 Meir Shpilraien (Spielrein) <
notifications@github.com> wrote:

[2020-04-13 08:47] #280 closed

[2020-04-13 22:43] nishantgeorge commented on #44
Is it possible to unregister all registered functions with one command? Something like `FLUSHALL`?

[2020-04-14 06:42] MeirShpilraien commented on #44
@nishantgeorge currently not but its a good feature request. Till then try to use this simple UI that allows you to unregister quickly https://github.com/RedisGears/RedisGearsMonitor.

[2020-04-14 07:45] gkorland opened #282 "rg.pyexecute: REQUIREMENTS needs a better usage example"
[code]
https://oss.redislabs.com/redisgears/commands.html#rgpyexecute

[2020-04-14 09:06] nishantgeorge commented on #44
Thank you @MeirShpilraien. Should I create another issue to track that feature request?

[2020-04-14 09:20] MeirShpilraien commented on #44
@nishantgeorge yes, thank you.

[2020-04-14 16:22] gkorland opened #283 "Crash on pyexecute"
[code]

[2020-04-14 23:51] nishantgeorge opened #285 "Support for unregistering all functions with a single command"
Something in the spirit of [FLUSHALL](https://redis.io/commands/flushall), but for clearing all registrations instead of keys.

[2020-04-14 23:54] nishantgeorge commented on #44
Tracking that feature request in this issue: https://github.com/RedisGears/RedisGears/issues/285

Also, is there any way at all to clear the execution history (what is returned from [`RG.DUMPEXECUTIONS`](https://oss.redislabs.com/redisgears/commands.html#rgdumpexecutions)? The use case is that we are creating a UI for RedisGears and we need to clear the execution history as part of the teardown fo

[2020-04-14 23:57] nishantgeorge commented on #44
I see there's [`RG.DROPEXECUTION`](https://oss.redislabs.com/redisgears/commands.html#rgdumpexecutions). That should do the trick for now. Maybe also consider something for removing all executions in one command as well?

[2020-04-16 06:29] gkorland opened #286 "Move function dependencies install to background thread"

[2020-04-23 21:23] MeirShpilraien opened #287 "Move deps installation to background thread"

[2020-04-23 21:24] MeirShpilraien opened #288 "Fix issue where specify deps version greater or equal crash the server"

[2020-04-23 21:26] MeirShpilraien opened #289 "Small fixes"
* Use redismodule api to get key slot
* Support trim event

[2020-04-23 21:28] MeirShpilraien opened #290 "Support SETS, SORTED_SETS, STREAMS on keys reader"

[2020-04-24 06:06] MeirShpilraien opened #291 "Export and import registrations"

[2020-04-26 09:21] #46 closed

[2020-04-26 09:27] MeirShpilraien commented on #286
Duplication of https://github.com/RedisGears/RedisGears/issues/287

[2020-04-26 09:27] #286 closed

[2020-04-27 20:37] irthomasthomas opened #295 "Build fails on ubuntu 20.04"
Hi, I can't get 0.9.0 to build on ubuntu 20.04
$ make setup produces error
E: Unable to locate package python-gevent
command failed: { apt-get -qq install -y python-psutil python-gevent; } >/tmp/tmp9QhBZF 2>&1
make: *** [Makefile:240: setup] Error 1

$ make all gives error:
Building cpython...
Creating ../../bin/linux-x64-release/cpython
make[1]: *** No rule to make target '../../deps/cpython/conf

[2020-04-27 21:55] gkorland commented on #295
@irthomasthomas did you run `make fetch`?
I got the same error on `make setup` and still worked for me after.
[code]

[2020-04-28 09:45] irthomasthomas commented on #295
@gkorland I hadn't noticed in the logs the make fetch was failing because I was using the zip file instead of the repo. But after fixing that the make all step is failing for another reason...

Creating a virtualenv for this project…
Using /usr/bin/python3.7m (3.7.3) to create virtualenv…
⠋RuntimeError: failed to query /usr/bin/python3.7m with code 1 err: 'Traceback (most recent call last):\n  Fil

[2020-04-30 19:22] MeirShpilraien commented on #295
@irthomasthomas did you try with v0.99.1 or with master?

[2020-05-02 10:28] GnaneshKunal opened #301 "Unexpected behavior in cluster mode"
Server: `docker run -it -p 30001:30001 -p 30002:30002 -p 30003:30003 redislabs/rgcluster:latest`

[code]

As you can see the execution results are not propagated to other nodes. Should the client reach the particular node in the cluster to get the results?

[2020-05-02 12:21] MeirShpilraien commented on #301
@GnaneshKunal the `run` function get the `collect` argument which is `True` default (https://oss.redislabs.com/redisgears/master/functions.html#run), this argument specifies whether or not to collect the results from all the shards at the end of the execution. This is why all the results arrived to the initiator (the shards that started the execution). The `RG.GETRESULTS` is a local operation whic

[2020-05-02 14:24] GnaneshKunal commented on #301
This makes sense.

Won't the _collect the result execution_ take an execution id. I know that the execution won't show up since we are not providing `UNBLOCKING` flag. So should this be a trade off?

So with the above approach we are left with only two ways:
1) `RG.PYEXECUTE SHARDREADER`
- This is a blocking operation.
- Takes up an extra execution id but won't show up in `RG.DUMPEXECUTION`

2) `R

[2020-05-02 14:46] MeirShpilraien commented on #301
@GnaneshKunal I do not think extra executions is an issue (especially if they are not shown to the user). If I will provide the auto collect on rg.getresults I would probably also do it using a Gears execution and it will just be build in.
I think that the other approach you suggested is not good because the client might have disconnected by then and you have no way to know which shard is the init

[2020-05-04 03:09] GnaneshKunal commented on #301
@MeirShpilraien

Makes sense.

[2020-05-09 13:06] MeirShpilraien opened #312 "Fix Command reader example"
The example shows ShardIDReader
https://oss.redislabs.com/redisgears/master/readers.html#commandreader

[2020-05-11 06:55] #312 closed

[2020-05-11 06:56] #289 closed

[2020-05-11 06:57] #288 closed

[2020-05-11 06:57] #287 closed

[2020-05-11 06:58] MeirShpilraien commented on #283
@gkorland this happened because of the requirements >= issue which was fixed.

[2020-05-11 06:58] #283 closed

[2020-05-11 06:59] MeirShpilraien commented on #244
@itamarhaber can I close this?

[2020-05-11 06:59] #240 closed

[2020-05-11 06:59] MeirShpilraien commented on #240
Fixed

[2020-05-11 07:00] MeirShpilraien commented on #238
Fixed

[2020-05-11 07:00] #238 closed

[2020-05-11 07:00] MeirShpilraien commented on #237
Fixed

[2020-05-11 07:00] #237 closed

[2020-05-11 07:00] MeirShpilraien commented on #229
Fixed

[2020-05-11 07:00] #229 closed

[2020-05-11 07:01] MeirShpilraien commented on #223
@atlantageek can you update on this one?

[2020-05-11 07:02] MeirShpilraien commented on #221
Fixed https://oss.redislabs.com/redisgears/master/readers.html#streamreader
Used trimStream option.

[2020-05-11 07:02] #221 closed

[2020-05-11 07:04] MeirShpilraien commented on #160
@rafie do you know if it's still relevant?

[2020-05-11 07:06] MeirShpilraien commented on #156
@andresrinivasan currently if error happened you will get it on `rg.dumpregistrations` output. Did you notice it?

[2020-05-11 07:09] MeirShpilraien commented on #100
Fixed using timeouts

[2020-05-11 07:09] #100 closed

[2020-05-11 07:11] MeirShpilraien commented on #61
Fixed

[2020-05-11 07:11] #61 closed

[2020-05-11 07:11] MeirShpilraien commented on #35
Done with aux fields on rdb

[2020-05-11 07:11] #35 closed

[2020-05-14 14:25] andrascz opened #322 "huge Docker image size"
The image built from `Dockerfile` is pretty huge compared to the used base image: redislab/redisgears:1.0.0 ~800Mb vs redisfab/redis:6.0.1-x64-buster ~140Mb

According to [dive](https://github.com/wagoodman/dive) there are a couple of hundreds of Mb-s wasted and the actual file content inside the image is ~400Mb. Also as I have seen all `__pycache__` files for the Python distribution are embedded

[2020-05-14 14:30] MeirShpilraien commented on #322
@andrascz thanks for the feedback, I will take a look at what can optimize there.

[2020-05-17 02:28] GnaneshKunal commented on #301
Hey @MeirShpilraien, As I said earlier, if we run the execution on one cluster node and try to fetch the results in other cluster node, we get empty results, right?

So I guess passing a `collect=True` arg should do. If we didn't pass the arg, returning empty result (from the other node) will give the user a false notion that the execution result has no data. Should it be possible to have some exc

[2020-05-17 02:33] GnaneshKunal commented on #301
Also @MeirShpilraien, I have used the above technique to implement it in RedisInsight v1.5

[code]

There's more to it. For each and every execution I'm selecting a random node on the cluster so that we don't dump the entire weight on a single node in the cluster.

Here's a quick demo of RedisGears: https://twitter.com/GnaneshKunal/status/1260458685685542912?s=20

It's good if I hear some feedback

[2020-05-20 11:37] #33 closed

[2020-05-20 18:07] MeirShpilraien opened #324 "Optimize distributed registration triggering"
Today we serialize and deserialize the full flat execution plane on each time an event trigger (on global registrations). The idea is that registrations flat execution plane already exists on all the shards so we just need to distribute information about the event.

[2020-05-22 12:04] MeirShpilraien opened #327 "Implement Gears_Buffer as a multi memory buffer"
Today the implementation alloc a single memory block and realloc it when needed. This is inefficient for huge buffers. We need the implementation to hold multiple block of memory and provide them to BufferReader/BufferWriter as it was one.

[2020-05-22 12:05] MeirShpilraien opened #328 "Cluster communication should avoid reaching max block size"
Should be done by splinting the communication to multiple blocks.

[2020-05-24 17:17] AlexMikhalev opened #331 "Crash on registering pytorch/transformers function"
As part of the NLP pipeline, I have a step (3) BERT based tokenisation:
[code]
Registering this stream function twice with
[code]
leads to the crash of master node.
where requirements_tokenizer.txt
[code]
cluster is build using create cluster script with config.sh
[code]
10.144.17.211 - VPN internal ip (zerotier).
and then
[code]
Host is Ubuntu 20.04, Redis 6.0.1 and RedisGears compiled from sourc

[2020-05-24 17:22] MeirShpilraien commented on #331
@AlexMikhalev maybe I miss understood but doesn't setting the `proto-max-bulk-len 2048mb` solved this crash?

[2020-05-25 13:00] AlexMikhalev commented on #331
no, it's repeatable: I manage to run it twice, but when I re-create cluster and run `cluster_pipeline_streams.sh` (all pipeline steps) cluster becomes unstable. And if I sent RG.REFRESHCLUSTER cluster never comes back - each node received payload crashes.
Shall I try with new Gears master?

[2020-05-25 13:14] AlexMikhalev commented on #331
Just to elaborate:
[code]
I can't get the cluster to process until tokenisation step. RedisIntakeRedisClusterSample.py feed 100 articles.

[2020-05-25 13:18] MeirShpilraien commented on #331
@AlexMikhalev sorry but I am not follow. You should do the:
[code]
before you send the registration with gears-cli

[2020-05-25 13:18] MeirShpilraien commented on #331
And there is no need to do it again

[2020-05-25 13:21] MeirShpilraien commented on #331
By the way I just merged this: https://github.com/RedisGears/RedisGears/pull/332
It should fix the crash, but you still need those configuration otherwise the requirement installation will failed (only the` RG.CONFIGSET ExecutionMaxIdleTime 300000` will not longer be needed with this PR)

[2020-05-25 13:23] MeirShpilraien commented on #331
Opps, I meant this PR will fix the crash and it will be merge soon :)
https://github.com/RedisGears/RedisGears/pull/330

[2020-05-25 13:38] AlexMikhalev commented on #331
Thank you @MeirShpilraien, waiting for PR 330.
RG.REFRESHCLUSTER I used to make sure cluster is alive (and balanced). Submitting pytorch based tokenizer and re-runing refreshcluster clearly will bring cluster down.

[2020-05-25 13:43] MeirShpilraien commented on #331
`RG.REFRESHCLUSTER` should not be use for that purpose it disconnect all the connections and reconnect them. You can use `RG.INFOCLUSTER` for that (https://oss.redislabs.com/redisgears/commands.html#rginfocluster)

[2020-05-25 13:46] AlexMikhalev commented on #331
yep, I found rg.infocluster command but it needs parsing.
I tried re-compiling current redisgears master and cluster fails on first requirements import.

[2020-05-25 13:53] MeirShpilraien commented on #331
@AlexMikhalev another thing to notice, the `PythonHomeDir` is not relevant sense v0.4.0 I think. Pls use `PythonInstallationDir` (https://oss.redislabs.com/redisgears/configuration.html#pythoninstallationdir). Also please run with `CreateVenv 1` (https://oss.redislabs.com/redisgears/configuration.html#createvenv)

[2020-05-25 13:54] MeirShpilraien commented on #331
What do you mean fails? Error or Crash? Can you share shards log?

[2020-05-25 14:11] AlexMikhalev commented on #331
Amended settings as recommended:
[code]
It run until spellchecker, on attempt to register tokeniser:
[code]
So this function never registeres.

[2020-05-25 14:26] MeirShpilraien commented on #331
@AlexMikhalev as I said, this requirement is very big and so you need to increase proto-max-bulk-len. Pleas make sure to run this before you register anything:
[code]

[2020-05-25 14:49] AlexMikhalev commented on #331
It is now part of my launch_cluster script:
[code]
Surprisingly
I have to re-apply them:
[code]

[2020-05-25 14:52] AlexMikhalev commented on #331
and it still didn't register function:
[code]

[2020-05-25 14:54] MeirShpilraien commented on #331
Can you share the output of the RG.INFOCLUSTER on all the nodes?

[2020-05-25 14:56] MeirShpilraien commented on #331
If you need to reapply them it means that something is wrong with your startup script and the commands are not execute correctly...

[2020-05-25 14:59] MeirShpilraien commented on #331
Maybe you send the `RG.REFRESHCLUSTER` only to one shard?

[2020-05-25 15:07] AlexMikhalev commented on #331
Ok, it seems to be working now: the difference is to use redis-trib.py execute to amend cluster configuration.
Seems like create-cluster call doesn't behave:
[code]
all run with OK, but if I retrieve settings via redis tribe they are not changed.

logs for launch_cluster:
[code]
in the same time
[code]

[2020-05-25 15:10] MeirShpilraien commented on #331
I see the issue, you are doing:
[code]
The `proto-max-bulk-len` is a redis configuration parameter and should be done without the `RG.CONFIGSET` like this:
[code]

[2020-05-25 15:13] AlexMikhalev commented on #331
Ah, ok. Thank you for your help.
The issue can be closed - PR in master fixed the crash.

[2020-05-25 15:15] MeirShpilraien commented on #331
Thanks

[2020-05-25 15:15] #331 closed

[2020-05-26 12:57] DvirDukhan opened #337 "crash on execution multiple stream demo"
RG crashed during runing
stack trace
[code]

gears:
[code]

[2020-05-26 12:58] MeirShpilraien commented on #337
Is it reproducible?

[2020-05-26 13:46] DvirDukhan commented on #337
happens several times, but not on specific event

[2020-05-26 19:05] DvirDukhan commented on #337
[code]

[2020-05-27 00:35] taijiren opened #340 "unable to compile on Arch Linux"
Following the instructions for compiling [here](https://oss.redislabs.com/redisgears/quickstart.html), I first ran into trouble because the platform utility isn't detecting my distro as archlinux. Instead, ```./deps/readies/bin/platform``` returns "unknown linux unknown (?) x64", which stops things at ```make setup```.
I wanted to at least see this compile, so I decided to fake the detection and c

[2020-05-27 05:05] MeirShpilraien commented on #340
Which gcc you are using?

[2020-05-27 15:17] taijiren commented on #340
gcc 10.1.0
linux 5.6.14

for the earlier part, this is what I get when I drop into python (2.7.18) and
[code]
but, if I pip install distro-1.5.0 and
[code]
which is a little better.
But, what if I'm [not using a distribution](http://www.linuxfromscratch.org/)?
I'm not pretending to know how to develop redisgears, but trying to detect a user's distro in order to preinstall dependencies (requiring r

[2020-05-29 12:46] MeirShpilraien commented on #322
This PR should reduce docker image size ..
https://github.com/RedisGears/RedisGears/pull/332

[2020-05-29 13:00] andrascz commented on #322
I have checked the edge image and it is now 421Mb. According to dive only 3.7Mb wasted space so I think this is a great development. Thank you for the effort.

[2020-05-29 13:00] #322 closed

[2020-06-03 15:50] gkorland opened #349 "Add support for other languges (Such as JVM)"
Allow plugin in other languages runtime like JVM

[2020-06-11 13:30] #291 closed

[2020-06-11 13:30] gkorland opened #356 "Debugging, StackTraces, (Timings?)"
[Itamar] PoC in the works #102

[2020-06-14 10:06] #113 closed

[2020-06-14 10:06] #137 closed

[2020-06-14 10:07] #146 closed

[2020-06-14 10:10] #244 closed

[2020-06-14 10:12] gkorland commented on #236
Duplicate #290

[2020-06-14 10:12] #236 closed

[2020-06-14 10:15] #223 closed

[2020-06-14 10:16] #153 closed

[2020-06-14 10:22] gkorland commented on #111
not relevant

[2020-06-14 10:22] #111 closed

[2020-06-14 10:22] #160 closed

[2020-06-14 16:34] MeirShpilraien opened #363 "Avoid two phase execution start when there is no repartition step"
The two-phase start is needed only if there is a repartition step to make sure not shard will get data about an execution he does not know about. If there is no repartition step we can do simple scatter and gather

[2020-07-14 18:49] nail-sirazitdinov opened #380 "Multiple StreamReaders for the same consumer group"
When registering multiple functions for the same stream consumer group, RedisGears is dispatching the events between them.
Steps to reproduce:

1. Register 2 functions reading the same stream using default consumer group
[code]
2.  Generate events
[code]
3.  Each function is catching part of events
[code]

[2020-07-15 07:50] DvirDukhan commented on #380
@nail-sirazitdinov
the expected output should be 150 each, right?

[2020-07-15 13:49] nail-sirazitdinov commented on #380
Yes, @DvirDukhan. Expecting to catch all events by both functions.

[2020-07-26 15:12] chrisAtRedis opened #384 "Different Python minor versions on client/server side cause valueerror"
Exact error message is "ValueError: unsupported pickle protocol: 5\n"

Steps to reproduce:
1. Install redis and redisgears per github / redisgears.io instructions
2.Start redis with redisgears module loaded
3. The following Python script fails:
[code]
First observed when using Python 3.8 on the client side (the CPython version embedded in RedisGears seems to be 3.7.x). This can be reproduced acros

[2020-07-26 15:15] chrisAtRedis commented on #384
Cf. https://github.com/dask/dask/issues/6007. Seems to be known issue. Better add a caveat to the README.

[2020-07-26 15:26] chrisAtRedis commented on #384
Or simply set the pickle.DEFAULT_PROTOCOL to 4 on the client side. For this particular example :-), not tested).

=== THIS IS A HACK ===
To be used by seasoned professionals only - do not try this at home kids!
=== THIS IS A HACK ===

[2020-07-26 15:26] #384 closed

[2020-07-28 08:40] X-funbean opened #385 "make all failed on Ubuntu18"
I followed the instructions on https://oss.redislabs.com/redisgears/quickstart.html

[code]

[2020-07-28 08:45] MeirShpilraien commented on #385
The failure is RAMP packaging and from the error I see that RedisGears is not loaded on the running redis:
`"ERR unknown command `RG.CONFIGGET`, with args beginning with: `dependenciesSha256`, "`

You might have a Redis running in the background.

Regardless if you reach this stage the module should already have built and you should find it in the git root directory (redisgears.so). So you should

[2020-07-28 09:04] X-funbean commented on #385
Hi! Thank you for your immediate reply! Indeed I had a Redis container running in the background. I stopped it and 'make all' succeed :)

[2020-07-28 09:32] #385 closed

[2020-08-09 06:48] KevinWu0904 opened #387 "run Keyspace Notification Processing Demo and return deco() got an unexpected keyword argument 'prefix'"
I‘m newbee and try to setup RedisGears, because I want to trigger redis key expired event to redis stream. And I try to follow the official guide: https://oss.redislabs.com/redisgears/master/examples.html#keyspace-notification-processing

What I do is:
1. docker run -d --name redisgears -p 6379:6379 redislabs/redisgears:latest
2. cd ~ && vim test.py
3. paste

[code]

4. cat test.py | docker exec -

[2020-08-09 07:15] MeirShpilraien commented on #387
Hey @KevinWu0904
Can you share the redis log file?

[2020-08-09 07:45] KevinWu0904 commented on #387
@MeirShpilraien  Thanks for quick response.

Sure,
![image](https://user-images.githubusercontent.com/37426896/89727422-46058c00-da57-11ea-813d-ab18a57b40a0.png)

wuguohua.5281@n227-008-193:~$ docker logs d0eef65b27a3
1:C 09 Aug 2020 05:05:11.157 # oO0OoO0OoO0Oo Redis is starting oO0OoO0OoO0Oo
1:C 09 Aug 2020 05:05:11.158 # Redis version=5.0.5, bits=64, commit=00000000, modified=0, pid=1, just sta

[2020-08-09 07:51] KevinWu0904 commented on #387
Some other information:
![image](https://user-images.githubusercontent.com/37426896/89727509-2a4eb580-da58-11ea-8962-cbf8fa70fd45.png)

[2020-08-09 07:53] MeirShpilraien commented on #387
You are running a very old version (0.3.1). Which is not even GA. Please make sure to pull the latest tag again and it should work.

[2020-08-09 07:59] KevinWu0904 commented on #387
@MeirShpilraien So what's the latest version number ?

[2020-08-09 08:07] MeirShpilraien commented on #387
1.0.1

[2020-08-09 08:14] KevinWu0904 commented on #387
@MeirShpilraien Thank you very much, I will try this version tag again

[2020-08-09 08:54] KevinWu0904 commented on #387
After I trying the 1.0.1 version, it works. Thanks again

[2020-08-09 08:54] #387 closed

[2020-08-18 09:25] mrpre opened #389 "Question About the memory"
I find each time I execute `RG.PYEXECUTE "gb = GearsBuilder();gb.run()"`, the `CurrAllocated` showed in `rg.pystats` increase.

[code]
After running  it hundreds of times, the CurrAllocated becomes 4854904.  When the memory is freed ?

[2020-08-18 09:31] MeirShpilraien commented on #389
Hey @mrpre

The CurrAllocated is in bytes so 4854904 is only around 5MB which is reasonable. The python interpreter keeps some commonly used objects in memory to reuse them (like lists, sets, even numbers). So seen memory increase in such levels is making sense. If you see the python memory gets to GB and not getting down then it's strange and should be investigated (might be a leak or a registrat

[2020-08-18 09:49] mrpre commented on #389
@MeirShpilraien

I run the command lot of times and find the `CurrAllocated ` becomes 659000562 bytes (659MB)
[code]

Also I find `PyFlatExecution_Destruct` isn't called after the command returns.
I try to figure out the reference of gb by using `import sys;gb = GearsBuilder();print(sys.getrefcount(gb));gb.run();print(sys.getrefcount(gb))`  and find both result are 2.
It means the the reference of

[2020-08-18 09:59] MeirShpilraien commented on #389
amm ok thanks for the analysis, I will try to take a look. Can you also try run it like this and let me know if you see the same issue?
[code]

I guess because you put it in a variable it saves in the global dictionary.

Also, can you specify the RedisGears version you run with?

[2020-08-18 11:16] mrpre commented on #389
@MeirShpilraien you are right when running `GearsBuilder().run()` the memory usage doesn't increase.
Does it mean that global variables are not allowed to be used in RedisGears ?

[2020-08-18 11:40] MeirShpilraien commented on #389
@mrpre not at all, they are totally allowed to be used and its definitely a bug. I just wanted to do this test to point me in the right direction. I will look into it.

[2020-08-18 11:42] MeirShpilraien commented on #389
Can you just specify the version you run with?

[2020-08-18 11:49] mrpre commented on #389
I didn't use the release version.

Redis
branch unstable
commitid 5977a94842a25140520297fe4bfda15e0e4de711

RedisGears
branch master
commitid ced15413f0bc46e7a93f40be4d4b1809e8e681e6

[2020-08-19 07:21] MeirShpilraien commented on #389
@mrpre it looks like it happened only if you put the `GearsBuilder` in a global variable (other global variables are fine). Looks like there is some cycling reference that prevents it from being free. As a workaround, until we fix it, just make sure not to put it in a global variable (or set the `gc` to `None` before the code finishes).

[2020-08-21 15:52] SeekPoint opened #390 "make all failed on Mac 10.15.6"
17 warnings generated.
Packing dependencies...
Created artifacts/release/redisgears-dependencies.macosx-catalina-x64.99.99.99.tgz
Created artifacts/snapshot/redisgears-dependencies.macosx-catalina-x64.master.tgz
Linking bin/macosx-x64-release/redisgears.so...
Packing module...
Failed to pack release
/usr/local/opt/python@3.8/bin/python3.8: Error while finding module specification for 'RAMP.ramp' (

[2020-08-27 22:22] MikeClapper opened #391 "Documentation: RG.PYEXECUTE - UNBLOCKING must appear before REQUIREMENTS"
The documentation shows this syntax:
RG.PYEXECUTE "<function>" [REQUIREMENTS "<dep> ..."] [UNBLOCKING]

However, if using both REQUIREMENTS and UNBLOCKING - the following fails:
RG.PYEXECUTE 'import numpy;log(str(numpy))' REQUIREMENTS 'numpy' UNBLOCKING

It is picking up "UNBLOCKING" as a requirement
A snip of the error:
ERROR: Could not find a version that satisfies the requirement UNBLOCKING (fr

[2020-08-30 12:55] gkorland commented on #391
@MikeClapper thanks for the catch!

[2020-08-30 18:07] #391 closed

[2020-09-02 07:09] loveJasmine opened #393 "expect a text-base or NLP demo"

[2020-09-06 11:56] MeirShpilraien opened #394 "Fix costume installation path on enterprise"

[2020-09-06 11:57] MeirShpilraien opened #395 "Fix issue where aggregate and aggregateby do not copy the zero value"
This might cause the zero value to be reused between the local reducer and the global reducer and cause incorrect results.

[2020-09-09 07:04] mrpre opened #396 "Question about execute"
The python script is run under an extra thread not under the `Redis` worker,  which means that the `execute()` also run under the thread.  Does there exist concurrency problems ? `Redis` is a single-threaded server, but in RedisGears an extra thread is used to write DB.

[2020-09-09 07:18] MeirShpilraien commented on #396
@mrpre the execute function make sure to take the Redis GIL before executing the command, so you are safe.

[2020-09-09 07:20] MeirShpilraien commented on #396
But you do need to consider that it's not atomic (if you perform execute twice), if atomicity is needed use `with atimic` (https://oss.redislabs.com/redisgears/runtime.html#atomic)

[2020-09-09 09:09] mrpre commented on #396
I see...`RedisModule_ThreadSafeContextLock` is uesed.

[2020-09-09 09:09] #396 closed

[2020-09-22 13:25] MikeClapper opened #398 "gears_cli: import-requirements is broken"
This example command will demonstrate the problem:
python3 __main__.py import-requirements --requirements-path exports/redisgears-requirement-v1-pandas-linux-buster-x64.zip --host localhost --port 6399
This last lines of the output:
  File "/Users/mikeclapper/.pyenv/versions/3.7.5/lib/python3.7/zipfile.py", line 1225, in __init__
    self._RealGetContents()
  File "/Users/mikeclapper/.pyenv/versio

[2020-09-22 13:27] MeirShpilraien commented on #398
@MikeClapper Can you open it on the gears-cli repository?

[2020-09-22 13:30] MikeClapper commented on #398
This was submitted to the wrong project... I will close it now.

[2020-09-22 13:30] #398 closed

[2020-09-28 20:15] mikhailredis commented on #380
@DvirDukhan Any updates on this issue?

[2020-09-29 06:13] MeirShpilraien opened #399 "Wrong results on aggregate by because zero value is not duplicated."

[2020-09-29 06:21] MeirShpilraien commented on #399
Duplicate of https://github.com/RedisGears/RedisGears/issues/395

[2020-09-29 06:21] #399 closed

[2020-09-29 20:38] scuml commented on #390
Same error here.

[2020-09-30 06:03] MeirShpilraien commented on #390
@rafie any idea how to fix it?

[2020-09-30 07:57] rafie commented on #390
@MeirShpilraien This (or something similar) was once fixed in #302. I'll investigate.

[2020-09-30 11:09] MeirShpilraien opened #400 "Allow Flatmap to get iterator"

[2020-09-30 11:10] MeirShpilraien opened #401 "Allow dependencies update and installation from local file system"

[2020-09-30 14:21] #395 closed

[2020-10-01 08:30] AlexMikhalev commented on #393
I may be able to help with that.

[2020-10-04 14:16] gkorland opened #404 "Upgrade to Python 3.8"

[2020-10-04 17:40] southwest-git opened #405 "RG.CONFIGSET Not propagated to all shards"
My understanding is once I used RG.CONFIGSET to set a runtime config e.g. ExecutionMaxIdleTime, every shard in the cluster will have this config updated. However, this doesn't seem to be the case

from rediscluster import RedisCluster
startup_nodes = [{"host": "127.0.0.1", "port": "6001"}]
rc = RedisCluster(startup_nodes=startup_nodes, decode_responses=False)
rc.execute_command("RG.CONFIGSET", "Ex

[2020-10-05 07:00] MeirShpilraien commented on #405
This is not a bug, RG.CONFIGSET are a shard independent command, you can use gears to create the cluster version of it:
[code]

[2020-10-05 14:43] #405 closed

[2020-10-13 16:49] MeirShpilraien commented on #390
@rafie did your recent fixes will fix this issue?

[2020-10-13 17:39] rafie commented on #390
@MeirShpilraien Yes, but I'd like to give it a little time before we declare it "solved". There are similar issues on other modules (e.g. RediSearch) and I'd like to see we catch all the fish.

[2020-10-15 12:13] MeirShpilraien commented on #390
@rafie ^^

[2020-10-26 12:34] gkorland opened #424 "Crash on execute (with RG.EXAMPLE)"
The following run always crash RedisGears 1.0.2
[code]

notify.py:
[code]

[code]

[2020-10-27 06:11] #424 closed

[2020-10-28 20:26] MeirShpilraien opened #427 "Race condition on message passing can cause execution to reach timeout"
When a node first connected to another node it sends internal RG.HELLO command, until the RG.HELLO reply reached the shard buffer all the messages that need to be sent to the other shard. When the RG.HELLO reply arrives the buffered messages are not sent. This causes the execution to wait until timeout. I believe that these occasional failures are happened because of this issue.
https://app.circle

[2020-10-30 07:39] Gypsying commented on #384
python3.6 is ok while python3.8 occur error:
`redis.exceptions.ResponseError: ['Traceback (most recent call last):\n', '  File "<string>", line 3, in <module>\n', 'ValueError: unsupported pickle protocol: 5\n']`

[2020-10-30 12:47] MeirShpilraien commented on #384
There is already an issue for this on RedisGears-Py repository
https://github.com/RedisGears/redisgears-py/issues/13

[2020-11-02 16:57] #427 closed

[2020-11-02 18:00] MeirShpilraien opened #432 "Handle RDB short read error"
Default Redis behavior is to crash on RDB short read unless the module specified REDISMODULE_OPTIONS_HANDLE_IO_ERRORS flag which tells the Redis that the module can handle IO error and abort the rdb load operation.
We want to support this feature and be able to abort RDB loading operation on short-read error.

[2020-11-09 19:47] simonprickett opened #435 "gitter chat link in doc just leads to an image"
The gitter link in the Contact section here https://oss.redislabs.com/redisgears/ just links to an image.  Should like to gitter?

[2020-11-09 19:52] K-Jo commented on #435
@gkorland probably discourt?

[2020-11-09 21:52] gkorland commented on #435
@simonprickett try to refresh the page, it was updated a week ago

[2020-11-09 21:57] simonprickett commented on #435
@gkorland still see same issue with empty cache and hard refresh on two machines... html:

[code]

[2020-11-09 22:33] gkorland commented on #435
![image](https://user-images.githubusercontent.com/753206/98604434-55ad9e80-22ec-11eb-87ee-e29beda0bce2.png)

[2020-11-09 22:35] simonprickett commented on #435
@gkorland it's the one in the contact us section that I am reporting.

[2020-11-10 18:40] #435 closed

[2020-11-13 11:49] IvanTheFirst commented on #223
I had same issue with last version.
`make all `
does not work from regular user.
`sudo make all ` works fine.
Also instruction for compile places PYENV_DIR to full path of directory with git, for me it was /tmp/RedisGears. For proper using i need to compile module in directory for modules (ex. /opt/redis/modules/rg)

[2020-11-19 17:02] MeirShpilraien opened #443 "Force update of existing dependency"
Today if a dependency already installed it will not install it again (even if the code changed). We need a way to reinstall it forcely.

[2020-11-21 14:48] MeirShpilraien opened #444 "Document command hook"

[2020-11-21 14:48] MeirShpilraien opened #445 "Document async await usage"

[2020-11-25 08:30] AlexMikhalev commented on #295
I am trying to compile on Pop os 20.04 which is focal derivative and build fails for both master and 1.0 tag:
[code]

[2020-11-25 08:49] MeirShpilraien commented on #295
Hey @AlexMikhalev
Can you try : `make clean ALL=1 DEPS=1; make all`

[2020-11-25 09:07] AlexMikhalev commented on #295
@MeirShpilraien thank you for suggestion so quickly.
Failed on packing:
[code]
git status
On branch 1.0
Your branch is up-to-date with 'origin/1.0'.

nothing to commit, working tree clean

[2020-11-25 09:11] MeirShpilraien commented on #295
Interesting, @rafie any idea why the pack failed?

Regardless you should be good to go even without packing, the module was already built successfully and you should be able to run it.

[2020-11-25 09:23] AlexMikhalev commented on #295
I tried master for the sake of completeness:
[code]

[2020-11-25 09:54] rafie commented on #295
@MeirShpilraien There's an error on `pack.sh` line 66:
[code]
We assume `python` is a command, which is true inside a virtualenv and on `ubuntu:focal` docker image, but apparently not on every Ubuntu Focal installation.
It should have been `python2`. Will fix.

[2020-11-25 12:11] AlexMikhalev commented on #295
@rafie if I follow [quickstart](https://oss.redislabs.com/redisgears/quickstart.html) doc ./deps/readies/bin/getpy2 is installing python2 on my machine, perhaps python interpreter name should come as a parameter into pack from readies?

[2020-11-25 20:32] rafie commented on #295
@AlexMikhalev The python interpreter name is a funny thing. Most systems are playing well with `python2` and `python3`. Some lack `python2` in favor of `python27`. Other are have different defaults for `python`. A point of stability is `virtualenv`, which always calls its python `python`.
My assumption is that there always be `python2`, and if it's missing, the user can create a symlink to establi

[2020-12-17 11:28] rreddy13Official opened #460 "GearsBuilder with KeysReader allows to register the function with eventType 'get' BUT doesn't execute the function"
Hi,

I am trying to implement the read-through cache with RedisGears by registering the function with GearBuilder and eventType=get.
My expectation is that upon 'get' command request, the function executes and fetches the data from thirdparty api(through REST) IF data not already exists in Redis and returns to the request.

Before implementing I tested with below simple function which will set som

[2020-12-17 11:36] rreddy13Official commented on #460
We are building application which uses redis cache with Server assisted client side caching() and client library Letttuce(https://lettuce.io/). So any pointers towards achieving Read-through cache using Redis-Gears without losing the feature ClientSideCaching will be helpful.

[2020-12-22 17:29] Rambatino opened #464 "Compiling Issues"
Hello,

I'm getting compiler issues on:

[code]

After running all the commands, certain symbols can't be found in the flat namespace of redisgears.so:

[code]

e.g. _libiconv.

Most likely it's using `/usr/lib/libiconv.2.dylib` instead of `/usr/local/opt/libiconv/lib/libiconv.2.dylib` (which otool -l  confirms).  I tried changing it in the binary but I think because it's in the flat namespace it'

[2020-12-22 17:53] MeirShpilraien commented on #464
@rafie any idea?

[2020-12-22 22:24] Rambatino commented on #464
So I fixed it with this:

[code]

Not sure if that helps you find a solution?

[2020-12-23 14:01] Rambatino commented on #464
I'll close for now, it may help someone in the future (the key to making those symbols available was to pass the directory where the brew installed libiconv library is to DYLD_LIBRARY_PATH). For me DYLD_LIBRARY_PATH didn't exist, but if it does then maybe

[code]

Is a safer approach.

[2020-12-23 14:01] #464 closed

[2020-12-29 09:41] AlexMikhalev commented on #393
https://github.com/applied-knowledge-systems/the-pattern-platform - example of end to end pipeline using RedisGears (KeyReader, StreamReade) and RedisGraph
NLP Steps:
* Identify language LangDetect (It should be English)
* Split paragraphs into sentences using Spacy spacy_sentences_streams.py It can be done differently, but the point was to use large NLP library for processing)
* Spellcheck senten

[2020-12-30 18:25] Rambatino commented on #390
see: https://github.com/RedisGears/RedisGears/issues/464

[2021-01-01 08:13] #324 closed

[2021-01-01 08:14] MeirShpilraien commented on #324
Already done here: https://github.com/RedisGears/RedisGears/commit/94da9118bd115ab325ee23b37462129e585f9823

[2021-01-03 23:50] AlexMikhalev commented on #295
I had an opportunity to check on the new server - the master build still fails:
[code]

[2021-01-04 06:53] MeirShpilraien commented on #295
@rafie any idea what's wrong?

[2021-01-04 08:51] rafie commented on #295
@MeirShpilraien @AlexMikhalev
Just built master on Ubuntu 20 docker, build passed Ok. Just make sure you've got Redis installed (`./deps/readies/bin/getredis`) before you build. Afterwards, it's possible to compare the non-Docker environment to the Docker one.

[2021-01-04 12:36] AlexMikhalev commented on #295
@rafie Redis Server installed
redis-server -v
Redis server v=6.0.9 sha=25214bd7:0 malloc=jemalloc-5.1.0 bits=64 build=476d782f220df0d3

how can I help you check the difference between hardware and docker image? This server only has Redis, RedisCluster + gears, and RedisGraph (in docker).

[2021-01-04 12:58] rafie commented on #295
@AlexMikhalev I first would like to pinpoint where exactly does your build fail. It obviously bails out on the `verify-packs` make target, so we might want to run `make verify-packs -n` and see which command is the problematic one. If the problem is the comparison of SHA values, we can try removing all built packages (from `artifacts/` dir) and building with `make pack`.

[2021-01-06 10:06] AlexMikhalev commented on #295
[Full log](https://gist.githubusercontent.com/AlexMikhalev/7215bf205db1d7cad5db09197b679151/raw/be8d6bceed5f29070018c9228999c15e0c3b1a59/RedisGears_compile.log) from git checkout

[code]

I checked
/tmp/redisgears-sha.err

[code]
As I already have the server running.

[2021-01-10 08:19] MeirShpilraien opened #470 "Cherrypick to 1.0"
- [x] 09c994eaefb53a5b86e86f5217d383afc66e52b9
- [x] abc4e049c6ef9efa6b4ee6c9c9b84e1bf79416be
- [x] 488be679ee997b45d3203ce5ebc2debf4c0a56f2
- [x] 49d883386e8ce60c7db27e82d95b3b62babb3b11

[2021-01-10 09:00] MeirShpilraien opened #471 "Update documentation about plugins"
Explain that python is now a separate plugin that needs to be loaded using Plugin configuration

[2021-01-10 09:01] MeirShpilraien opened #472 "Make sure to failed v1.0.x rbd loading in case python plugin is not loaded"

[2021-01-11 12:32] AlexMikhalev opened #474 "Changing bg.run to bg.register in KeyReader function crashes redis gears cluster"
Well, this one is complicated, I am not sure how to narrow it down any more:
* The function runs in the middle of the NLP pipeline: matching tokens against Aho Corasick pre build tree full code [here](https://github.com/applied-knowledge-systems/the-pattern-platform/blob/main/sentences_matcher_gears.py)
Runs successfully.
If I change
[code]
to
[code]
run changed to register, cluster becomes unstab

[2021-01-11 12:40] MeirShpilraien commented on #474
@AlexMikhalev thanks for reporting, will check it out and update ASAP.

[2021-01-11 13:53] MeirShpilraien commented on #474
@AlexMikhalev did you play with slot ranges? the only way I can see it happened is if you have key on shards which they do not belong to this shard ...

[2021-01-11 14:16] MeirShpilraien commented on #474
OK, this is definitely considered a bug on RedisGears which should never crash the server (and we will fix it). But the reason the cluster becomes unstable is that you are doing the `loadAutomata` inside the OnRegister function which is called when the Redis lock is held. Although this `loadAutomata` takes a few seconds it's enough to cause the other nodes to think that the shard is not responsive

[2021-01-11 15:49] AlexMikhalev commented on #474
Thank you @MeirShpilraien, let me check it out.
I already set `docker exec -it rgcluster /cluster/create-cluster call RG.CONFIGSET ExecutionMaxIdleTime 300000` as part of launch_cluster_docker.sh so adding one more settings should be easy.
And answering previous question - no, shards and slots are not touched other than via hashtag()
Am I right that the reason br.run works because it ignores onReg

[2021-01-11 15:54] MeirShpilraien commented on #474
Yes, if you use run it is not calling the OnRegistered.

[2021-01-11 16:14] AlexMikhalev commented on #474
Increasing timeout made it to work. Looking forward to proper bugfix.

[2021-01-13 11:02] AlexMikhalev commented on #474
IMHO bg.register function now have a memory leak - rgcluster now consumes growing amount of memory, I left it running for a few hours and it eaten up to 60GB RAM with no new data added.

[2021-01-13 11:23] MeirShpilraien commented on #474
@AlexMikhalev can you share the output of RG.PYSTATS to see if its the python that takes the memory or maybe its gears itself?

[2021-01-18 11:22] #470 closed

[2021-01-18 11:23] MeirShpilraien opened #481 "Cherry pick to master"
https://github.com/RedisGears/RedisGears/pull/480

[2021-01-18 14:31] MeirShpilraien opened #484 "Handle OOM on execute and triggers"
Today execute to perform the operation even if OOM reached, we should allow some safe_execute that will fail if OOM reached. Also, we should allow triggers not to even start if OOM reached.

[2021-01-19 11:30] AlexMikhalev commented on #474
@MeirShpilraien weekend project, apologies for delay.
Logs have
==> 30009.log <==
89:S 19 Jan 2021 11:27:20.009 * Starting automatic rewriting of AOF on 36084795% growth
89:S 19 Jan 2021 11:27:20.018 * Background append only file rewriting started by pid 2979
89:S 19 Jan 2021 11:27:20.252 * AOF rewrite child asks to stop sending diffs.
2979:C 19 Jan 2021 11:27:20.252 * Parent agreed to stop sendin

[2021-01-19 11:59] MeirShpilraien commented on #474
@AlexMikhalev does the python memory growth correlate with the memory growth as reported by Redis on ft.info?

[2021-01-19 12:35] AlexMikhalev commented on #474
Do you mean RedisSearch FT INFO? https://oss.redislabs.com/redisearch/Commands/#ftinfo I don't have it installed.
Pure rgcluster, no additional modules.
[code]

[2021-01-19 12:37] MeirShpilraien commented on #474
ohh sorry, wrote ft.info, I mean `info memory` command (pure Redis)

[2021-01-19 13:08] AlexMikhalev commented on #474
Ok, latest (processing finished, nothing should be happening)
[code]
[code]
[code]

[2021-01-19 13:22] MeirShpilraien commented on #474
But @AlexMikhalev I do not see the 60GB ram you are talking about, you probably restart the shards. If you can let it run again and monitor the `RG.PYSTATS` and `info memory` we will be able to see if it the python consuming the memory or something else. Currently, it looks like python is consuming most of the memory but I believe those are the AI models you load and should stay stable more or les

[2021-01-19 13:44] AlexMikhalev commented on #474
@MeirShpilraien thank you. I will try update to re-run cluster inside docker tonight.
Do you have a recomended way to capture memory use for docker containers? Like prometheus or even command line script?

[2021-01-19 18:28] AlexMikhalev commented on #474
Ok. I pulled new rgcluster docker and run processing on fresh cluster. Capturing
docker exec -it rgcluster /cluster/create-cluster call INFO MEMORY >>
[memory_info_before_register.txt](https://github.com/RedisGears/RedisGears/files/5837801/memory_info_before_register.txt)
before registering function, after registering:
[memory_info_after_register.txt](https://github.com/RedisGears/RedisGears/files

[2021-01-19 18:33] AlexMikhalev commented on #474
:point_up_2: That's actually confusing. Seems adding new data made RG.PYSTATS go down compared to just idle cluster for 3 minutes.

[2021-01-19 18:41] AlexMikhalev commented on #474
Seems like cluster marginally increasing redis (core) memory usage and deallocating python memory, which seems like correct behaviour.

Re-run above adding 25 more articles (75 total).
[memory_info_after_register_sleep180_new_data25_1.txt](https://github.com/RedisGears/RedisGears/files/5837914/memory_info_after_register_sleep180_new_data25_1.txt)
[memory_info_after_register_sleep180_new_data75.txt

[2021-01-19 19:02] MeirShpilraien commented on #474
@AlexMikhalev I still do not see the 60G you were mentioned before. Did you reached it just by setup a cluster with your code (https://github.com/applied-knowledge-systems/the-pattern-platform/blob/main/sentences_matcher_gears.py) and keep it idle? If so I will try to reproduce it myself and analyze.

[2021-01-20 08:58] pohjao opened #487 "Crash at RAI_TensorGetShallowCopy+0x3 when calling redisAI.modelRunnerRun"
Hello and thank you for the great work you have done with RedisGears!

I have a Tensorflow frozen graph installed with RedisAI. I'm calling the graph from RedisGears using redisAi-API provided by Gears.

The order of calls is following:
[code]
np_img is a numpy ndarray with shape of (1, 956, 800, 3), type of np.float32.

When a ONNX model is used no crash occurs.

I believe the model and inputs ar

[2021-01-20 09:07] MeirShpilraien commented on #487
@pohjao thanks for reporting, is it possible to share the exact reproduction steps (including the AI model you use and inputs you give) so I can try to reproduce the issue?

[2021-01-20 13:15] AlexMikhalev commented on #474
Yes, this is a code as above - but I commented those two lines:
[code]
there is no consumer for this stream yet.
Let me know if I can help you investigate.

[2021-01-20 13:18] DvirDukhan commented on #487
@alonre24  please keep track on this

[2021-01-20 17:35] AlexMikhalev commented on #474
@MeirShpilraien I think this bug can be closed - with current version memory allocation is so smooth that I forgot I had gears pipeline running.

[2021-01-20 17:40] MeirShpilraien commented on #474
Thanks @AlexMikhalev , please reopen if you see it again.

[2021-01-20 17:40] #474 closed

[2021-01-20 18:01] AlexMikhalev commented on #474
Thank you for such responsiveness - it's amazing to see how such bugs get fixed.

[2021-01-22 08:35] pohjao commented on #487
https://github.com/pohjao/rgears-debug with this repo you should be able to reproduce the crash.

[2021-01-24 10:54] MeirShpilraien commented on #481
https://github.com/RedisGears/RedisGears/pull/489

[2021-01-25 08:20] alonre24 commented on #487
Hey @pohjao,
You created a model and loaded it into redis with redisAI MODELSET command. Your TensorFlow model input name is "name_1", and its outputs names are:
"filtered_detections/map/TensorArrayStack/TensorArrayGatherV3",
"filtered_detections/map/TensorArrayStack_1/TensorArrayGatherV3",
"filtered_detections/map/TensorArrayStack_2/TensorArrayGatherV3".

However, when you created a modelRunner o

[2021-01-25 12:02] pohjao commented on #487
Thank you, modelRunner works after making the changes you suggested.
This issue was created out of confusion between RedisGears-API and AI.MODELRUN input/output naming. AI.MODELRUN allows arbitrary variable names, even with TF models.

[2021-01-25 12:04] MeirShpilraien commented on #487
@pohjao @alonre24 Let's not close this issue yet and use it to monitor the crash fix.

[2021-01-31 09:50] MeirShpilraien opened #494 "Better view on running executions"
- [ ] Ability to kill long-running executions
- [ ] See top x long running executions
- [ ] Kill execution if client distconnects (if its a read only)

[2021-02-02 10:25] iakkus commented on #295
I followed the same steps here (including the error messages regarding lack of python2 on the machine). The final step regarding the verification was also failing. However, then
`make clean`
`make all`
successfully passed also that step.

However, something else must be missing: in my redis-server, even though the rg module is loaded, i can't do

`RG.PYEXECUTE`, although all other commands seem to

[2021-02-02 11:46] MeirShpilraien commented on #295
@iakkus you are probably running with the master version, on master the python was extracted to be a gears plugin and you need to tell RedisGears to load it by specifying `Plugin ./gears_python.so` as an argument right after the --loadmodule. The gears_python.so should be on the root directory. So to sum up you need to run it like this (from the root directory):
`redis-server --loadmodule ./redisg

[2021-02-02 11:50] iakkus commented on #295
Ah, that makes more sense now. Thanks!

[2021-02-02 15:15] iakkus opened #497 "rg.networktest with single node redis causes crash"
OS: Ubuntu 20.04
Redis 6.0.7, built from source.
Redisgears master (commit: 8c5660c4b626d72301354dea87d26908e84c5e05)

When running redis with redisgears module (with and without python plugin), the command `RG.NETWORKTEST` returns `OK`, but crashes server with a coredump.

I also tried it with the latest container image, and the same crash happened.

-----

=== REDIS BUG REPORT START: Cut & paste

[2021-02-03 05:53] Jav3k opened #499 "How to return binary data (bytes string)?"
Hello. I need to return binary data from RedisGears. But it seems to me that RedisGears converts all the data to a string

[code]

Value of res[0][0] reply is `b"b'hello'"` (as bytes) if decode_responses=False
else `"b'hello'"` (as str) if decode_responses=True

[2021-02-03 06:01] MeirShpilraien commented on #499
@Jav3k thanks for reporting, you are definitely right, byte array are converted to string (https://github.com/RedisGears/RedisGears/blob/94fce44e104d9414c8631dbb3a1f8c087610d793/src/redisgears_python.c#L4493). Will be fixed at the next minor version.

[2021-02-03 06:09] #481 closed

[2021-02-03 06:28] MeirShpilraien commented on #154
@irthomasthomas I believe the crash reported here was fixed right?

[2021-02-10 13:00] MeirShpilraien opened #503 "Document commands option on keys reader"

[2021-03-02 15:17] nareshn842 commented on #282
Hi, Is there any update on this . Can you please let me know how to pass the requirements to Gear function.

[2021-03-02 15:51] MeirShpilraien commented on #282
As the docs says: RG.PYEXECUTE <your python code> REQUIREMENTS <req1> <req2> ...

[2021-03-03 08:02] nareshn842 commented on #282
Hi, Thank you for the reply.

I am trying to execute the command from python file (client) not from the redis-cli.  What ever the command above shared is when we try to execute from cli right.? Please correct my understanding.

Here is the snippet what I am trying .

con = redis.StrictRedis(host=redis_host, port=redis_port, password=redis_password)
script = open('process_redis_stream.py', 'r').rea

[2021-03-03 08:06] MeirShpilraien commented on #282
execute_command can take as many arguments as you want. Basically, it needs to look like this:
`con.execute_command("RG.PYEXECUTE", script, "REQUIREMENTS", "redis")`
Side note: I am not sure why you need Redis client on the server-side, can you share some more details about it?

[2021-03-03 08:57] nareshn842 commented on #282
Hi,

We need to process the stream data and store the result in another data base thats why need a client.

Now I am able to pass the requirements but throwing some error due to proxy.  Is there any way how to pass proxy details to execute_command..?

Docker Error logs.
---------------
1:M 03 Mar 2021 08:47:21.418 # <module> Execution failed command : /bin/bash -c "cd '/var/opt/redislabs/modules/r

[2021-03-03 20:16] MeirShpilraien commented on #282
There is no such way but you can install the requirement in outside environment without proxy and then export and import this requirement using gears-cli, take a look here for more information:
https://forum.redislabs.com/t/how-to-install-python-packages-to-redisgears-docker-image/825/4

[2021-03-04 12:05] MeirShpilraien commented on #499
@Jav3k I got a chance to relook at it now, seems like its ok to use `PyBytes_AsStringAndSize` it will return the underline buffer and size. The reason you get a string is because, by default, all the records are mapped to strings. You can turn this off with `convertToStr=False` parameter to the run `function` (https://oss.redislabs.com/redisgears/functions.html#run)
[code]
If I run this in gears-c

[2021-03-14 14:40] chayim opened #525 "CI changes"
- [ ] PR commit (which happens when someone does a pull request): linux-debian
- [ ] master commit: platform build => deploy (we can disable linux debian here - bionic is close enough)
- [ ] intgration branch (versioned branches) commit: platform build + macos + valgrind + redis matrix (it's the only place integ branches really tested) => deploy
- [ ] version tag: platform build + macos + valgrind

[2021-03-17 17:07] Frank5000 opened #528 "Performance benchmarks?"
Are there any performance benchmarks/profiles for RedisGears event-processing etc

[2021-03-17 20:40] gkorland commented on #528
What kind of event-processing are you running?

[2021-03-18 08:39] nareshn842 commented on #282
Hello,

Thanks for the reply . We have bypass issue using gears-cli.

Apart from passing requirements is there any way to pass some extra arguments and get those arguments in gear function.

Myarg1="Hello"
Myarg2="World"

con.execute_command("RG.PYEXECUTE", script, "REQUIREMENTS", "redis",Myarg1,Myarg2)

when the script executed gear function should receive these arguments.

Thank You,
Naresh

[2021-03-18 08:53] MeirShpilraien commented on #282
Yes but the way to do this is register a gear function using the command reader and then trigger it with commands and arguments. Example:
[code]
The record that passes to the execution triggered by RG.TRIGGER command is a list of all the arguments given in the command (including the trigger name) in our example: `['CountArgs', '1', '2', '3', '4']`
To read more about the command reader: https://oss

[2021-03-18 09:32] nareshn842 commented on #282
Hi,

But we have requirement to read stream reader and gear function listen to the specified stream.

how we can communicate from one gear to another gear..? values passed form command reader to stream reader.?

Thanks,
Naresh

[2021-03-18 10:22] MeirShpilraien commented on #282
Basically, you can send a gear that registers both the command reader and the stream reader.. Can you be more specific about the usecase? What you need from the command reader and what you need from the stream reader?

[2021-03-18 11:24] nareshn842 commented on #282
We need stream reader only please find use case details below.

Use case:  Gear function running in one data base  read the the stream data after processing the stream data store the results  in  another database.

My gear registration logic in one python file (script.pty) which is invoked from another  python client.

con.execute_command("RG.PYEXECUTE", script, "REQUIREMENTS", "redis)

This is ho

[2021-03-18 11:40] MeirShpilraien commented on #282
I see, so for such things you can use the `configGet` api (https://oss.redislabs.com/redisgears/runtime.html#configget). You can give the db info as configuration values to RedisGears (when loading the module) and retrieve them inside your script

[2021-04-06 10:40] AlexMikhalev opened #532 "Hastag3 to support Python3 f-strings"
The current behaviour of the hashtag() function is to return shard_id:
[code]
However, in order to save to shard we need to add curly brackets:
{06S} which leads to python code:
[code]
python f-strings support curly brackets and if hashtag3() can return shard_id already with brackets code above can be simplified into:
[code]
which is more readable if you have more than one variable, for example, I

[2021-04-06 10:54] MeirShpilraien commented on #532
I agree, its probably the most common thing that is done with hashtag so it makes sense to give it as part of RedisGears.

[2021-04-11 21:11] boriskogan81 opened #534 "Redis Server is installed and running, cannot find redis-server"
I'm running this on Ubuntu in WSL.

I installed Redis 6.2.1, and am attempting to install RedisGears, and am getting the following:

[code]

[2021-04-17 03:44] uberscientist commented on #340
Did you figure this out? I'm trying to get RedisTimeSeries installed which relies on RedisGears and I'm getting the same deluge of errors trying to install on Arch

[2021-04-17 07:16] d00astro opened #535 "Make `hashtag` map to different slots depending on optional parameter."
Feature

The `hashtag` runtime function always maps to the first/lowest hash-slot of the current shard, and one of the common use-cases in Gear functions is to write and read keys that are guaranteed to be on the current shard.

For Gear-heavy apps that write a lot of such keys, this *might* lead to unbalanced slots. Basically ending up accumulating disproportionately more keys in the the first sl

[2021-04-18 09:05] MeirShpilraien commented on #535
Her @d00astro ,
Actually, you are not the first to ask something like this. Just to make sure we are on the same page, does some_value is a string and you expect RedisGears, to perform: some_value -hash function-> slot -> string matched this slot, or you mean that some_value is actually a slot and hashtag will return a string matches this slot? I was thinking the second makes more sense and I was

[2021-04-18 18:07] MeirShpilraien opened #536 "Fix RG.TRIGGER third argument to be a key on oss cluster"
RG.TRIGGER command is not declared correctly, the third argument should be considered a key:
https://github.com/RedisGears/RedisGears/blob/ed10294edb4ff8e06f9b53c03b6d730b0377e82d/src/readers/command_reader.c#L1030

[2021-04-18 22:08] taijiren commented on #340
Personally, I did not. It looked interesting, but I decided to fall back on writing server code to do what I wanted.

[2021-04-19 02:35] d00astro commented on #535
@MeirShpilraien
I realize that I wasn't very clear. And maybe I am just making it worse now  😆

In my example, `some_value` is just whatever value is going to be stored by the `SET` operation, and in my mind not involved in the key / slot allocation.

It is the string `'something'` that is the argument to the `hashtag` function, which I was thinking would be used to calculate the local slot.  Used

[2021-04-19 09:39] MeirShpilraien commented on #535
Ok @d00astro so if I understand correctly you are planning to create a stream per slot and put the data on the key arrive to the slot in the corresponging stream. While giving you a better data distribution between slots, it will increase memory usage and will require you to read from much more streams (not saying it's a bad thing but something to consider).
My suggestion will still allow you to d

[2021-04-19 17:13] mikhailredis opened #537 "RG.PYEXECUTE Requirements should be case-insensitive"
I have `prophet` already installed as requirements and then executing `PYEXECUTE` with `REQUIREMENTS Prophet` starts to build Prophet again causing delays.

Should requirements be case insensitive?

RG.PYDUMPREQS output:

[code]

Redis log:

[code]

[2021-04-21 08:16] d00astro opened #538 "Ability to check for runtime environment and version"
Feature request

It'd be quite useful if there was a supported dynamic way to check if the code is running inside the RedisGears server runtime?
For example a global variable.

Similarly for the RedisGears version
(and Python runtime version?)

[2021-04-21 11:05] MeirShpilraien commented on #534
@boriskogan81 do you have redis-server in your path? Regardless if you reached that far you should have the module on RedisGears main directory. Look for redisgears.so. If you have it you can load it using `redis-server --loadmodule ./redisgear.so`

[2021-04-26 09:37] d00astro commented on #535
[Sorry for the delayed answer]

I do see what you mean, and its definitely less confusing than what I proposed.
And yes, In the most of cases, the Gear function will have some shard-local key it can use to get a local slot number. It would definitely be useful.  So I am happy with that.

**But**  i still think there is some gap.
For `CommandReader` we only have a key for the "origin" shard (assumi

[2021-04-26 10:34] Jav3k opened #541 "Reload imported local dependencies"
Hi.

My redis gears code, executed via to RG.PYEXECUTE, imports my own local python script, stored on server with redis, as a python module.
But if i update the code of this local script, RedisGears will still use old version of local script.

I read about [Isolation Techniques](https://github.com/RedisGears/RedisGears/blob/ed10294edb4ff8e06f9b53c03b6d730b0377e82d/docs/isolation.md). And it says:

[2021-04-27 17:14] MeirShpilraien commented on #541
@Jav3k sorry but currently its not possible and the only way it will be possible is using subinterpreters (which comes with its own limitation as you read in the docs). We do plane to introduce subinterpreters again (as an option if the user wants it) but I do not know yet when this will be available.

My suggestion is to put a code that might change a lot in the python code that you send on the R

[2021-04-27 20:06] Jav3k commented on #541
@MeirShpilraien, thanks for your reply. Should I close the issue or leave it open?

[2021-04-29 13:04] maguec opened #542 "Gears crashes with module"
Gears consistently crashes when performing the following:

Pull redismod container

[code]
create  the ai_example.py script

[code]
redis-cli RG.PYEXECUTE "$(cat ai_example.py)" REQUIREMENTS redisai
[code]
redis-cli "XADD" "CHECK-AI" "*"  "eat" "paste"
[code]
$ docker run --rm -p 6379:6379 redislabs/redismod:latest
1:C 28 Apr 2021 23:21:08.677 # oO0OoO0OoO0Oo Redis is starting oO0OoO0OoO0Oo
1:C 28

[2021-05-03 09:30] AlexMikhalev opened #545 "Redis crashes when switching from RG.TRIGGER to "keymiss" event for RedisAI model"
Steps to reproduce:
1. Checkout https://github.com/applied-knowledge-systems/the-pattern-platform
2. Launch [Launch Cluster Demo](https://github.com/applied-knowledge-systems/the-pattern-platform/blob/main/conf/launch_cluster_docker_demo.sh)
3. Create virtualenv & populate RedisGears cluster by running 'sh cluster_pipeline.sh'
4. Checkout API with BERT QA models: https://github.com/applied-knowled

[2021-05-03 09:32] AlexMikhalev commented on #545
Faster way to debug may be after step 4 register  latest gears function on keymiss event from step 7 and triggering it.

[2021-05-03 09:50] MeirShpilraien commented on #542
@maguec I will check why it crashing, but you definitely should not create a connection to yourself inside a gears function. We have a full API that you can use to call RedisAI from RedisGears

[2021-05-07 22:41] d00astro opened #554 "Changed behavior of `RG.CONFIGGET` in 1.2.0"
**Describe the bug**
In version 1.2.0 and 1.2.1 `RG.CONFIGGET` behaves differently from 1.0.X:
   A. It does not accept custom config names, See steps 3 and 4 below
   B. It is case sensitive, See steps 5, 6 and 7

It seems like `RG.CONFIGSET` still works as before.

**To Reproduce**
Steps to reproduce the behavior:
1. `docker run --rm --name gears -d -p 6379:6379 redislabs/redisgears:1.2.0`
(also

[2021-05-09 06:14] MeirShpilraien commented on #554
Thanks @d00astro, will check it out.

[2021-05-09 08:17] MeirShpilraien commented on #554
@d00astro checked it out and you are totally correct. This PR should fix the issue: https://github.com/RedisGears/RedisGears/pull/557

Regarding case insensitive, I agree that on v1.0.x you can add a case insensitive config but only the RedisGears config values, the user define config values are not case insensitive:
[code]

So because we never documented (at least from what I know) that config na

[2021-05-09 08:26] MeirShpilraien commented on #545
The issue is that the code was calling the `set` command recursively which cause RedisGears to block and none blockable client and crash. We should check the `REDISMODULE_CTX_FLAGS_DENY_BLOCKING` flag to decide if we are allowed to block.

[2021-05-09 08:29] MeirShpilraien commented on #541
I believe it's a duplicate of this one: https://github.com/RedisGears/RedisGears/issues/443
so I am closing, reopen if you think otherwise.

[2021-05-09 08:29] #541 closed

[2021-05-09 08:31] MeirShpilraien commented on #499
@Jav3k can we close this one?

[2021-05-09 08:38] MeirShpilraien commented on #460
Writing the reply here (although I think we talked on discord). The event is on write commands only so you will not get notification about 'get' command. v1.2.0 introduces a new notification called key miss event that allows you to do exactly that. take a look here at how we implemented it with the JVM: https://github.com/RedisGears/rghibernate/tree/write_through_support
[code]

@rreddy13Official

[2021-05-09 09:28] #554 closed

[2021-05-09 19:08] #499 closed

[2021-05-10 20:19] AlexMikhalev opened #558 "Redis Gears cluster can't start if data dir is enabled and have data"
I successfully run RedisGears (and RedisAI) in cluster mode using [docker compose](https://github.com/applied-knowledge-systems/the-pattern/blob/c6eb04a8f1f32fe1d8adb61c0dac795877cdf175/docker-compose.prod.yml#L31) , [Dockerfile](https://github.com/applied-knowledge-systems/the-pattern-platform/blob/a38bd2f551439e05af1aac9fb551e3d3481fffde/conf/Dockerfile_redisai) for RedisGears+RedisAI and [docke

[2021-05-11 06:05] MeirShpilraien commented on #558
Thanks @AlexMikhalev

The issue is that we try to read the stream before the cluster is initialized and the cluster returns and error, unfortunately, there is an assertion that there is not errors. two things we need to fix:
1. We can not assert that there is no error
2. We need to wait for cluster to initialized

[2021-05-19 14:17] mikhailredis opened #561 "Retrieve all configuration parameters using RG.CONFIGGET similar to Redis and RedisGraph"
Redis and RedisGraph are able to return all configuration parameters using * as a parameter.
As a RedisGears developer, I would like to see all configured parameters and update them if necessary.

[2021-05-24 09:34] chayim opened #562 "Gears-included python binaries have wrong path headers"
Files in the gears edge docker (<gearspython>/bin) have their #! headers pointing to /build/bin which is where python was built. The headers should point to _root@c265fb844322:/var/opt/redislabs/modules/rg/python3_99.99.99/bin#_

[2021-05-24 14:07] vladcrisan13 opened #563 "RedisGears functions raise errors after a Sentinel failover"
I am using the `redislabs/redismod` Docker image in a cluster with 1 master, 2 slaves and 3 sentinels with the Bitnami image (`bitnami/redis-sentinel:latest`).

Here's the docker-compose configuration
[code]

After starting the containers (`docker-compose --scale slave=2 --scale sentinel=3`) and registering a RedisGears function (see the snippet below), everything works fine and the events get pub

[2021-05-24 14:22] MeirShpilraien commented on #563
Hey @vladcrisan13 , thanks for reporting. Can you specify the RedisGears version you are using?

[2021-05-24 17:07] vladcrisan13 commented on #563
Hey @MeirShpilraien, I knew I was forgetting something important, I just couldn't pin-point it :)

It's `v10002` and I had the same thing happening with `v10003` in a different cluster.

[2021-05-24 17:26] MeirShpilraien commented on #563
Can you try latest (1.0.6)? There is an critical bad memory access that was fixed there, I just want to make sure its not something that was already fixed.

[2021-05-24 17:46] vladcrisan13 commented on #563
I tried it now with 1.0.6 and it's the same behavior, following the same steps.

[2021-05-28 07:03] vladcrisan13 commented on #563
Hey @MeirShpilraien,

Did you get a chance to look into this? Can you confirm whether it's a bug or maybe something wrong with my setup?

Thank you!

[2021-06-01 05:55] MeirShpilraien commented on #563
@vladcrisan13 I did try to look into it. I still have no idea why it happened. I will try to reproduce locally. Until then can you turn the  `Test` class into a regular class? something like this:
[code]
I am not sure this is the problem but I want to try to eliminate causes until we will find the root cause.

[2021-06-02 07:14] vladcrisan13 commented on #563
@MeirShpilraien I tried this as well, before posting the issue, and it has a similar behavior, with a different error.

[2021-06-02 07:15] MeirShpilraien commented on #563
What's the different error?

[2021-06-02 07:18] vladcrisan13 commented on #563
I'll be back with the concrete error message after trying it again. I didn't give it a shot today with this approach, I was just relying on my memory and I didn't want to post the wrong error message 😄

[2021-06-02 07:26] vladcrisan13 commented on #563
Tried it now: `["['Traceback (most recent call last):\\n', ' File \"<string>\", line 13, in test_it\\n', ' File \"<string>\", line 6, in __init__\\n', \"AttributeError: 'Test' object has no attribute 'event'\\n\"]\u0000"]`

[2021-06-02 07:43] MeirShpilraien commented on #563
@vladcrisan13 can you also share the exact code that you used to create this error?

[2021-06-02 07:51] vladcrisan13 commented on #563
Ah, when looking at the code I noticed that I forgot the `ABC` inheritance for the Test class (`class Test(ABC):`). I removed it now and it works fine after the failover takes place.

This generated the error from my previous comment:
[code]

This works fine:
[code]

[2021-06-02 07:55] vladcrisan13 commented on #563
This also works fine after the failover:

[code]

So it's definitely only coming from the `ABC` inheritance.

[2021-06-09 07:29] alonre24 commented on #487
This issue is fixed in RedisAI master version, after merging this PR: https://github.com/RedisAI/RedisAI/pull/745

[2021-06-09 07:29] #487 closed

[2021-06-13 06:06] chayim opened #568 "Test python compilation for speedups"
Give this issue from [python.org](https://bugs.python.org/issue38980), it appears that we can get a speed boost in gears, by changing the compilation options.

[2021-06-13 15:31] XhrCkYsSgZokJL opened #570 "RG.PYEXECUTE registrationId when creating KeysReader"
When registering a KeysRreader gear through RG.PYEXECUTE, no registrationId is returned.
Is there a relation between registering a KeysReader/StreamReader and receiving their respective registrationId directly?

[2021-06-14 05:16] MeirShpilraien commented on #570
@XhrCkYsSgZokJL theoretically a single script (RG.PYEXECUTE) can register multiple Readers so return one ID does not make sense. You can put a description to your registrations and then search for it with RG.DUMPREGISTRATIONS and find the RegistrationID.

[2021-06-14 16:04] XhrCkYsSgZokJL commented on #570
@MeirShpilraien That worked!  Closing now - thank you.

[2021-06-14 16:04] #570 closed

[2021-06-19 19:00] AlexMikhalev commented on #563
@vladcrisan13 can you check Gears version on both master and sentinel image? `redis-cli -p 30001 INFO MODULES`

[2021-06-26 18:03] irthomasthomas opened #574 "Problem running the video demo"
Hi, I used this a couple of years ago but now I guess some things have changed and the demo needs updating? I am getting an error on ubuntu18, I think I have everything installed right but running init.py it says cv2 is not installed. It is not clear anymore where to install requirements for the gears sub interpreter, I tried /var/opt/redislabs/modules/python3 and /var/opt/redislabs/modules/rg but

[2021-06-27 05:27] MeirShpilraien commented on #574
Assuming you are using the latest docker container, the python interpreter is located under `/var/opt/redislabs/modules/rg/python3_1.0.6/bin/python3`, so basically this should work:
`/var/opt/redislabs/modules/rg/python3_1.0.6/bin/python3 -m pip install opencv-python`

But you can also specify open `opencv-python` as a requirement when you execute the RG.PYEXECUTE command and RedisGears will insta

[2021-06-30 15:19] irthomasthomas commented on #574
Sorry I should have mentioned I am trying to use the none-docker version as my laptop is a bit slow. Building the redisgears module does not seem to create that same directory.

[2021-06-30 15:28] MeirShpilraien commented on #574
So when RedisGears starts it prints to the log file the interpreter location and the virtual environment location (assuming you run with CreateVenv 1), Example:
[code]

[2021-07-05 09:12] Tigojiang opened #576 "cannot run make all to generate redisgear.so"
Hi, the error is shown as followed. When running make all to generate the redisgear.so, it logs Symbol not found: _libiconv. The Mac is of 10.15.6.
<img width="871" alt="截屏2021-07-05 下午5 11 07" src="https://user-images.githubusercontent.com/54599335/124447479-fdb03480-ddb3-11eb-8773-45817cd49c63.png">

[2021-07-05 09:51] MeirShpilraien commented on #576
@rafie @chayim any input on this?

[2021-07-05 12:31] chayim commented on #576
Hi @Tigojiang can I have your build details? Testing on Catalina **10.15.7**, the libraries are found below, having first run a **make all**.  Can you please provide the outputs of _otool -L <each library>.so_ for both the gears_python.so and redisgears.so?

Final question: Did you install the dependencies via our system-setup.py script, or some other method?  For reference, below are the outputs

[2021-07-06 01:31] Tigojiang commented on #576
Hello, this is the output. I use the gear's system-setup.py. Because I follow the steps in the quickstart guide. Make setup, make fetch, make, all. @chayim
<img width="790" alt="截屏2021-07-06 上午9 30 21" src="https://user-images.githubusercontent.com/54599335/124529284-cb96e500-de3c-11eb-9b84-b6a9b366df11.png">

[2021-07-07 08:29] Tigojiang commented on #576
Hi, does this output look correct? Probably they are the same. @chayim

[2021-07-07 10:01] chayim commented on #576
They're identical, and I can't reproduce. The sole exception is that my environment is 10.15.7 and yours is 10.15.6. Can you attach your binaries here? I'm happy to have a deeper dive.

[2021-07-07 16:43] chrisAtRedisLabs opened #577 "Building on OSX 11.4 using homebrew fails"
"sudo make setup" fails after cloning including the dependencies fails as running homebrew as root is no longer supported:

"
sudo make setup
Password:
Setting up system...
Error: Running Homebrew as root is extremely dangerous and no longer supported.
As Homebrew does not drop privileges on installation you would be giving all
build scripts full access to your system.

In ./deps/readies/bin/getpy

[2021-07-07 16:43] chrisAtRedisLabs commented on #577
Please let me know if you need more details.

[2021-07-07 16:46] MeirShpilraien commented on #577
@rafie @chayim ^^

[2021-07-08 07:31] chayim commented on #577
@chrisAtRedisLabs If you run _make setup_ without sudo (assumes you have gnu make already brewed and in path) you should be fine.  Can you validate?  I can change the docs accordingly, but I just validated locally.

[2021-07-08 10:30] chrisAtRedisLabs commented on #577
Still tries to symlink in /usr/local/bin

https://github.com/RedisLabsModules/readies/pull/51 should fix this.

[2021-07-08 10:30] #577 closed

[2021-07-08 12:05] Tigojiang commented on #576
Hello, do you mean the binary files of redisgear.so. Sorry I am not quite familiar with these terms now lol. Thank you very much! @chayim

[2021-07-11 12:30] chayim commented on #576
Yes please @Tigojiang. Mind attaching to this a zip file containing the shared objects (.so files) generated by your build? Specifically I'd like gears\_python.so and redisgears.so if you don't mind.

[2021-07-12 01:24] Tigojiang commented on #576
Hi! This is the file! @chayim
[files with .so.zip](https://github.com/RedisGears/RedisGears/files/6798055/files.with.so.zip)

[2021-07-26 18:09] chrisAtRedisLabs opened #584 "redisgears-py install fails"
Installation of Python client fails in a mint venv with the following error message:
[code]
Python is 3.7.3 on a stock Buster installation.

[2021-07-26 18:09] chrisAtRedisLabs commented on #584
Let me know if you need more info.

[2021-07-27 06:04] chayim commented on #584
@chrisAtRedisLabs You have an out of date version of pip.  Strictly speaking we don't have to uninstall the dist pip this way, but it works. Here's the incantation I used to bring a stock debian buster docker to install:

[code]

In between, validated that the apt install brings us python 3.7.3

[2021-07-27 06:04] #584 closed

[2021-08-12 19:13] MeirShpilraien opened #585 "Allow setting per execution limits"
1. Execution timeout
2. Execution memory limit

Those limits need to only apply to execution that did not yet perform write commands, stop an execution that already changed the data might leave the data in an inconsistent state.

[2021-08-20 11:33] MeirShpilraien opened #586 "Use RM_BlockedClientMeasureTimeStart and RM_BlockedClientMeasureTimeEnd on async executions"
So async executions time will be reported to slowlog and latency monitor.

[2021-08-31 14:33] MeirShpilraien opened #602 "Deserialize records on background thread"
RG.INNERMSGCOMMAND will be used to deserialize records that came from another shard. We should take it to the background and allow Redis to perform other tasks meanwhile.

[2021-09-09 12:22] #586 closed

[2021-09-09 12:23] MeirShpilraien commented on #576
@chayim any news here?

[2021-09-17 07:29] vsharathis opened #604 "Cpython Installing Python extras was failing"
Successfully installed pip-21.2.4
Collecting https://github.com/RedisGears/redisgears-py.git
  **Downloading https://github.com/RedisGears/redisgears-py.git
     \ 176 kB 992 kB/s
  ERROR: Cannot unpack file /tmp/pip-unpack-8ixvj4dr/redisgears-py.git (downloaded from /tmp/pip-req-build-ivlrxrji, content-type: text/html; charset=ut                                  f-8); cannot detect archive format

[2021-09-17 07:31] vsharathis commented on #604
The above issue can be fixed in RedisGears/build/cpython/install-pyextras , changing `$PYTHON -m pip install https://github.com/RedisGears/redisgears-py.git from to **_$PYTHON -m pip install git+https://github.com/RedisGears/redisgears-py.git`_**

[2021-09-20 08:56] dackerer opened #606 "Failed registration for some prefix with StreamReader"
For some prefix the RG script is triggered at creation but not afterwards, even when events are added to the same stream.

* Problematic case: event 'x' is processed but not event 'y'
[code]

* Expected behavior (with a different prefix): bot events are processed
[code]

[2021-09-20 09:21] MeirShpilraien commented on #606
hey @dackerer,
Gears only support suffixes and not prefixes so what I really wonder is how come you got the first record on `stream-log`, I would expect you will get nothing :) ...
Can you share the output of RG.DUMPREGISTRATIONS?

[2021-09-20 09:30] MeirShpilraien commented on #606
Ohh I see why you got it, its because when you register we first use scan command to scan the keyspace and search for matching streams, the scan command supports pattern matching and this is why you get the x value. Then we move to events mode where gears filter the events himself and here we only support suffixes, so you do not get the y value. So to conclude you should only use prefixes.

[2021-09-20 11:38] dackerer commented on #606
Thank you @MeirShpilraien for the clarification, good to understand why this happens. It maybe worth patching this to ensure a consistent behavior, and in the meantime I will keep in mind that prefix means prefix :D !

[2021-09-20 11:39] MeirShpilraien commented on #606
Yep, will keep this issue to fix the behavior inconsistency

[2021-10-02 14:42] AlexMikhalev commented on #393
BERT Question Answering using [RedisGears + RedisAI](https://github.com/applied-knowledge-systems/the-pattern-api/tree/9387a1a9c7c07af108f968cb42bc8a75b587479b/qasearch), blog [post](https://alexmikhalev.medium.com/bert-models-with-millisecond-inference-the-pattern-project-409b2880524d )

[BART/Google T5 model for summarization](https://github.com/applied-knowledge-systems/the-pattern-bart-summary

[2021-10-05 09:37] #604 closed

[2021-10-15 22:33] AlexMikhalev opened #619 "Redis-cli -c and benchmark --cluster option are no longer following key with RedisGears keymiss event"
The bootstrap platform for benchmark

[code]
wait until finishes
last curl command outputs relevant shard id
[code]
Grab "Cache key" from docker logs -f rgcluster
Run benchmark (same behaviour for redis-cli -c)

[code]
or via redis cli
[code]
My understanding client should get "MOVED" instead of an "operation not permitted".
For benchmark, I removed the "set" inside [gears function](https://github

[2021-10-31 17:49] venkataphaniv opened #623 "Why is there a dependency on Python2?"
Hi,

 I'm trying to build RedisGears v1.0.7, and in the commands documented in https://oss.redis.com/redisgears/quickstart.html
I observed that there is dependency on python2, instead of python3. I've also pasted below the commands for reference:

./deps/readies/bin/getpy2
make setup
make fetch
make all

Make setup also has dependencies on python2 How can I force to use python3 instead of python2?

[2021-11-01 08:19] gkorland commented on #623
@venkataphaniv please notice it's only required for the build process, we'll probably remove it in the future.

[2021-11-24 11:42] szho42 opened #643 "periodically run batch jobs"
Just wondering whether the current version supports to run a batch job periodically, with a given time interval.
For example, to aggregate data every 30 mins?

Thanks

[2021-11-24 12:24] MeirShpilraien commented on #643
No but you can see here a nice workaround: https://forum.redis.com/t/redis-gears-cron-scheduler/972/2

[2021-11-24 12:36] szho42 commented on #643
oh, yeah, that is defintely a good workaround.
Thanks

[2021-12-01 02:52] szho42 opened #644 "any plan to support TimeSeriesReader in event mode"
Just wondering whether there are any workarounds for registering redisgears to response to redistimeseries updates?

[2021-12-01 10:29] MeirShpilraien commented on #644
From what I know RedisTS supports keys space notifications sense v1.6 (@danni-m correct me if I am wrong), so the KeysReader provided by RedisGears should work with it. Please notice that RedisGears will not give you the data, you can read the data by invoking RedisTS commands on the key.

[2021-12-02 08:53] szho42 commented on #644
thanks for the information. In our case, we would like to perform simple streaming process, which takes inputs from redisTS and write to other destinations.
I am not sure whether key space notifications can capture time series updates in RedisTS?

[2021-12-13 13:47] baozitao opened #646 "redisgears.so error in ubuntu 18.04"
system ： ubuntu 18.04
redis:6.0.2
1.I compiled it according to the steps of the webpage（https://oss.redis.com/redisgears/quickstart.html）, without any error, the compilation was completed, when I loaded the redisgears module,load success，redis-cli executed
RG.PYEXECUTE "GearsBuilder().run()",
Terminal error： ( error) ERR unknown command `RG.PYEXECUTE`, with args beginning with: `GearsBuilder().run

[2021-12-13 15:00] MeirShpilraien commented on #646
Hey @baozitao you probably compiled the master branch, Notice that the python is now plugin that need to be loaded using --plugin argument. Look here for more information: https://github.com/RedisGears/RedisGears/pull/560/files

[2021-12-14 15:45] baozitao commented on #646
Great, successful, it is indeed lack of python library, thank you very much!! @MeirShpilraien

[2021-12-16 03:33] mikhailredis opened #648 "Plugin timeseries does not exists and required to load rdb"
I just updated to the latest versions of RedisGears and RedisTimeSeries and can't load my rdb file with the error `<rg> Plugin timeseries does not exists and required to load rdb`

[code]

as I can see RTS loaded successfully before:
[code]

Did anything change recently related to RTS?

[2021-12-19 13:09] mikhailredis opened #649 "Redis OOM when running PythonReader with not a generator function"
When running PythonReader with lambda function which is not generator does hung and goes OOM:
[code]

I understand that it should be a generator function and it's more a user error, but Redis should not go OOM and crash the server.

[2021-12-20 16:21] MeirShpilraien commented on #648
You probably used the master version of both RedisTS and RedisGears. RedisTS wrongly used the C api of RedisGears and this is why you see this error. It was fixes on the currently master (RedisTS is no longer use RedisGears, instead it uses [libmr](https://github.com/RedisGears/LibMR)). Let me know if you need the data on this RDB and I can try help you recover it.

[2021-12-20 16:22] #646 closed

[2021-12-20 16:25] mikhailredis commented on #648
@MeirShpilraien, you are correct my images built on top of the edge version and it explains it.
I was able to fallbacks the previous image and running the older version now on our demo server.
Is it safe to update now or RDB still won't load?

[2021-12-20 16:30] MeirShpilraien commented on #648
No it will still not work, what I can do is to give you a temporary branch for you to use that will load the RDB and save it in such way that it will be loadable on the current master version. Sounds good?

[2021-12-20 16:32] MeirShpilraien commented on #648
So you will need to update to this temporary branch, save the RDB and then upgrade to current master.

[2021-12-20 16:37] MeirShpilraien commented on #648
Will prepare it and update ASAP

[2021-12-21 12:51] MeirShpilraien opened #650 "On Redis 7, no need to replicate multi inside atomit block"
After this PR: https://github.com/redis/redis/pull/9890#pullrequestreview-837397152
Redis will make sure to replicate multi and exec inside atomic block (hold and release the GIL) so RedisGears should not do it himself.

[2021-12-23 10:39] MeirShpilraien commented on #644
Sorry for the late response, it will be possible with 1.2 version (which will be GA soon). But only with Redis 6.2 and above and only if TS fire keys space events (I believe @danni-m can answer that).

[2021-12-23 10:39] #643 closed

[2021-12-29 00:45] AlexMikhalev opened #651 "Keymiss event broken on redismod:preview and redismod:latest"
Keymiss event listener is broken in both official dockers:
test_gears_keymiss.py
[code]
Runing
`gears-cli run --host 127.0.0.1 --port 6379 test_gears_keymiss.py`

redis-cli get test_1_my_command_keymiss
nothing in the logs, batch gears work via GB.run.
Custom build ghcr.io/applied-knowledge-systems/rgcluster:edge from RedisGears master with RedisAI and no RedisJson or RedisSearch works with the sa

[2021-12-29 06:28] MeirShpilraien commented on #651
@AlexMikhalev keymiss event is only available on master branch and in the future 1.2 version.

[2021-12-29 10:05] AlexMikhalev commented on #651
Thank you.
A

[2021-12-29 12:28] #651 closed

[2022-01-10 08:11] #558 closed

[2022-01-10 14:38] MeirShpilraien commented on #648
@mikhailredis please try to use this branch https://github.com/RedisGears/RedisGears/tree/temp_fix_for_mikhailredis. It should allow you to load the "corrupted" RDB with the latest TS. After you successes you can return to the any RedisGears branch you want.

[2022-01-11 08:40] MeirShpilraien commented on #649
@mikhailredis I tried to run you example and I an getting this:
[code]
I do not get any OOM error, anything I am doing wrong?

[2022-01-11 08:55] MeirShpilraien commented on #536
Changing it now will cause backward compatibility issue, we will introduce a new command, `RG.TRIGGERONKEY`, which will get the third argument as key.

[2022-01-11 16:48] mikhailredis commented on #649
@MeirShpilraien It it works, it may be fixed already.
Thank you for looking into it.

[2022-01-11 16:48] #649 closed

[2022-01-11 20:33] #471 closed

[2022-01-12 16:13] erniavr opened #665 "The eventTypes is case sensitive"
eventTypes is case sensitive so registering JSON.SET is different from json.set

[2022-01-13 09:39] irthomasthomas opened #666 "Build Fails on Devuan(Debian) Linux"
Hi, I am using Devuan which is Debian without systemD. I have built redis server and a bunch of modules OK, but the gears build fails during make all:
Desk% make all
Compiling /home/tommy/Development/redis/RedisGears/plugins/python/redisgears_python.c...
Compiling /home/tommy/Development/redis/RedisGears/plugins/python/globals.c...
Compiling /home/tommy/Development/redis/RedisGears/src/utils/dict.

[2022-01-16 10:08] MeirShpilraien opened #668 "Add events API for plugins"
Following the discussion here https://github.com/RedisGears/RedisGears/pull/667, plugins needs a proper events API. Plugins can not use Redis events API directly because Redis assumes each modules register to events once. We need to wrap the API and provide multiple events registration. This will allow plugins to register to events.

[2022-01-16 14:17] gkorland opened #669 "Add `onFailedRetries` when using `onFailedPolicy='continue'`"
When using `continue` policy we need to provide a way to limit to amount of retries.

[2022-01-16 14:30] MeirShpilraien commented on #444
Documentation was added here to avoid conflicts: https://github.com/RedisGears/RedisGears/pull/518

[2022-01-17 10:33] MeirShpilraien opened #672 "Allow use `override_reply` with an error"
Currently there is no way to `override_reply` and send the user an error, we should allow that.

[2022-01-17 12:29] MeirShpilraien commented on #672
Missed that, it is possible by sending a string starting with `-`:
[code]

[2022-01-17 12:29] #672 closed

[2022-01-17 12:33] MeirShpilraien commented on #666
@chayim any suggestion here?

[2022-01-17 12:34] MeirShpilraien commented on #648
@mikhailredis any updates?

[2022-01-17 14:00] irthomasthomas commented on #666
I think I was using main branch there, but I just did a clean test on 1.0.9 and it does similar.

Compiling src/utils/adlist.c...
<command-line>: warning: missing terminating " character
gcc: warning: ceres-x64": linker input file unused because linking not done
gcc: error: ceres-x64": linker input file not found: No such file or directory
make: *** [Makefile:231: bin/linux-x64-release/src/utils/a

[2022-01-17 15:06] mikhailredis commented on #648
@MeirShpilraien Thank you, it worked flawlessly.

[2022-01-17 15:06] #648 closed

[2022-01-18 09:56] MeirShpilraien commented on #619
Thanks @AlexMikhalev , this [PR](https://github.com/RedisGears/RedisGears/pull/673) should fix it.

[2022-01-18 09:57] #650 closed

[2022-01-18 10:31] #472 closed

[2022-01-18 10:41] AlexMikhalev commented on #619
Great news, thank you.

[2022-01-18 10:41] #619 closed

[2022-01-18 14:14] tomerhekredis opened #674 "potential memory leak on JVM plugin"
Running `RG.JDUMPSESSIONS` will show us 2 sessions, but the first (id 0) will never get deleted:
[code]
Even when running `RG.JRUNGC` unused sessions will be removed except this id-0.

Adding heap logs from the machine in the attached file
[jvm-heap-logs.zip](https://github.com/RedisGears/RedisGears/files/7889674/jvm-heap-logs.zip)
.

[2022-01-19 07:53] #536 closed

[2022-01-19 09:51] MeirShpilraien opened #678 "Cherrypicks to 1.0"
* https://github.com/RedisGears/RedisGears/pull/661
* https://github.com/RedisGears/RedisGears/pull/664
* https://github.com/RedisGears/RedisGears/pull/656 + https://github.com/RedisGears/RedisGears/pull/671
* https://github.com/RedisGears/RedisGears/pull/676

[2022-01-19 15:10] #665 closed

[2022-01-20 13:26] #444 closed

[2022-01-20 13:26] #445 closed

[2022-01-20 13:26] #503 closed

[2022-01-24 14:53] MeirShpilraien opened #691 "Distributed version of RG.DUMPEXECUTIONS"
`RG.DUMPEXECUTIONS` should collect and aggregate `RG.DUMPEXECUTIONS` from the entire cluster.

[2022-01-24 16:50] #545 closed

[2022-01-24 17:09] MeirShpilraien opened #693 "Setting session description and name"
`RG.PYDUMPSESSIONS` is meaningless and it is impossible to find the session you look for:
[code]

[2022-01-28 12:58] MeirShpilraien commented on #674
@tomerhekredis I believe this is due to weak reference which is less cleaned, I could reproduce it (I believe) and by running with low memory configurations and execute GC it was eventually cleaned. Closing for now. Will reopen with we find out its not solved.

[2022-01-28 12:58] #674 closed

[2022-01-28 12:59] MeirShpilraien commented on #644
@szho42 closing, please reopen if any further help is needed.

[2022-01-28 12:59] #644 closed

[2022-01-28 13:02] MeirShpilraien commented on #574
@irthomasthomas closing (no activity), please reopen if any further help is needed.

[2022-01-28 13:02] #574 closed

[2022-01-29 09:31] MeirShpilraien commented on #214
Closing (Graph issue, which I believe was already resolved.)

[2022-01-29 09:31] #214 closed

[2022-01-29 09:35] MeirShpilraien commented on #337
Closing, its an old version, please reopen if still an issue.

[2022-01-29 09:35] #337 closed

[2022-01-29 09:36] MeirShpilraien commented on #349
Done :)

[2022-01-29 09:36] #349 closed

[2022-01-29 09:40] MeirShpilraien commented on #460
Closing, please reopen if any further help is needed.

[2022-01-29 09:40] #460 closed

[2022-01-29 09:42] MeirShpilraien commented on #534
Closing because there is no activity, please reopen if any other help is needed.

[2022-01-29 09:42] #534 closed

[2022-01-30 16:40] irthomasthomas commented on #666
Hi I have tried this on a few different VMs now, and I still can't get it to build. Debian 10 and 11 get the furthest along, but they both fail on building libevent...
configure: error: cannot find install-sh, install.sh, or shtool in "/home/tommy/RedisGears/deps/libevent" "/home/tommy/RedisGears/deps/libevent/.." "/home/tommy/RedisGears/deps/libevent/../.."
make[1]: *** [../../deps/readies/mk/con

[2022-02-04 12:05] vsharathis opened #716 "BUILD FAILURE Redis gears java runtime plugin"
Hi Jvmplugin error

Operating system : Centos7

Building jvmplugin...
make -C plugins/jvmplugin PYTHONDIR=/root/sharath/tag/v1.0.9/bin/linux-x64-release/python3_99.99.99
OS=linux
make -C ./src/
make[2]: Nothing to be done for 'all'.
cd gears_runtime; mvn -q package
[debug] execute contextualize
[ERROR] COMPILATION ERROR :
[ERROR] /root/sharath/tag/v1.0.9/plugins/jvmplugin/gears_runtime/src/main/ja

[2022-02-04 12:16] MeirShpilraien commented on #716
Hey @vsharathis can you please specify the java version you are using?

[2022-02-04 12:37] vsharathis commented on #716
Hi @MeirShpilraien , Sure
**-bash-4.2# java -version**
openjdk version "11.0.14" 2022-01-18 LTS
OpenJDK Runtime Environment 18.9 (build 11.0.14+9-LTS)
OpenJDK 64-Bit Server VM 18.9 (build 11.0.14+9-LTS, mixed mode, sharing)
-bash-4.2#
**-bash-4.2# mvn --version**
Apache Maven 3.0.5 (Red Hat 3.0.5-17)
Maven home: /usr/share/maven
Java version: 1.8.0_311, vendor: IBM Corporation
Java home: /usr/lib/

[2022-02-04 12:42] vsharathis commented on #716
hi @MeirShpilraien , i found an issue, its not a problem with the build, it's a problem with maven, maven referring to the old java home. sorry for the confusion,

[2022-02-04 12:43] #716 closed

[2022-02-13 08:03] spicy-sauce opened #722 "RG.DUMPREGISTRATIONS - onFailedRetryInterval argument is missing in args section"
In dumpregistrations, I'd expect to get the onFailedRetryInterval too, got this:
[code]

[2022-02-13 11:19] spicy-sauce opened #724 "Pause/unpause gear function"
Would be nice to support this instead of unregistering (to simulate stop operation) the gear function (with abort pending or without it) and reregistering it (to simulate start operation)

[2022-02-15 07:21] MeirShpilraien commented on #724
@spicy-sauce I can see how it is useful on streams (you will not lose events because the data is on the stream) but on KeysReader, what is the expected behaviour? Should you lose events or you expect the events to be accumulated and trigger once the registration is unpause?

[2022-02-15 07:42] spicy-sauce commented on #724
@MeirShpilraien I think that as long both pause and unregister commands are supported, we cover all the options, as long as the documentation stresses this out properly. Although I can see why one might find the pause command not needed for KeysReader. I think our rule thumb can be that unpause command continues from the last place before the pause command, that means that all the events will be a

[2022-02-15 16:18] spicy-sauce opened #728 "RG.PYPROFILE STATS - Dump to a file option"
Will be very helpful to dump the stats into a file:
https://docs.python.org/3/library/profile.html#pstats.Stats.dump_stats

@mehamasum suggested to dump it to a tmp file and then send the file content.

[2022-02-16 07:07] #693 closed

[2022-02-23 15:57] MeirShpilraien opened #729 "Managing secrets"
Design and implement secret managing.

[2022-02-24 09:12] gkorland opened #730 "Add intershard_tls_pass support in RAMP"

[2022-02-24 12:55] MeirShpilraien commented on #724
@spicy-sauce If we will accumulate all the events that happened during the pause, we will give a false feeling that you will not lose events, even on pause, this is of course not the case if the shard crashes for example (on streams you will not lose events, they are saved on the stream. With key space notification you will lose them ...). I tend to simply do the simple solution and not accumulate

[2022-02-24 14:11] MeirShpilraien commented on #730
@gkorland we first need to add inter shard tls support, then add it to ramp ...

[2022-02-24 15:37] spicy-sauce commented on #724
@MeirShpilraien I see your point - as it's more relevant to `StreamsReader`, we can definitely not implement this in `KeysReader` to avoid not intuitive behavior. This of course should be well documented. Thanks!

[2022-02-27 07:37] spicy-sauce opened #731 "RG.DUMPREGISTRATIONS - -nan in avgRunDurationMS and avgEstimatedLagMS"
15) "avgRunDurationMS"
       16) "-nan"
       17) "lastEstimatedLagMS"
       18) (integer) 0
       19) "avgEstimatedLagMS"
       20) "-nan"

[2022-02-27 14:01] MeirShpilraien commented on #731
Thanks @spicy-sauce , those stats appears as `-nan` is no data was processed yet. We will change it to 0.

[2022-03-01 08:50] XufengXufengXufeng opened #735 "how to install python packages on a redisgears docker container?"
I can't find a document about installing python packages on redisgears docker container.  anyone please help.

and also, in the container, I installed miniconda3. I tried to add conda or pythonpath to the $PATH, but nothing changes with the $PATH. Is there a lock on it or something?

[2022-03-01 18:04] spicy-sauce opened #736 "Allow changing an existing registration parameters"
This can be achieved by running RG.PYEXECUTE with the registration ID and UPGRADE argument, but it seems not to ideal to use it as the UPGRADE argument's purpose is upgrading the registration code.
It would be great to allow changing the parameters (onFailedRetryInterval, batch, duration) of the registration via the RG.PYEXECUTE command and from the code itself (key space notification, for example

[2022-04-04 10:31] #731 closed

[2022-04-05 12:33] #722 closed

[2022-04-05 12:33] #724 closed

[2022-04-14 07:09] spicy-sauce opened #755 "Can't update number of shards when RedisGears module is installed"

[2022-04-14 11:54] MeirShpilraien commented on #755
Fixed on 1.2.3 : https://github.com/RedisGears/RedisGears/issues/755

[2022-04-14 11:54] #755 closed

[2022-04-25 11:21] spicy-sauce opened #759 "RG.DUMPREGISTRATIONS command does not reflect accumulated results from all shards"

[2022-04-26 10:31] spicy-sauce opened #760 "Unregistering a StreamReader's function keeps processing the stream elements until it's empty"
I'd expect it to just finish processing the current batch.

[2022-04-26 13:09] spicy-sauce opened #761 "When pausing a stream based registration, the current batch is processed but its records remain in the stream"

[2022-04-28 16:10] spicy-sauce opened #764 "Worse performance when invoking the same code in a gear function comparing to a standalone python"
Performed the same test on the same machine under the same venv that RedisGears uses and got lower performance.
Code snippet:
[code]
Results:
Via gear's ComamndReader:
1) "{\"total\":\"81202, 2462.986792641561/sec\"}"

Standalon python:
total time 49893, 4008.5886531942483/sec

[2022-04-29 11:21] gkorland commented on #764
@spicy-sauce can you share your Gears recipe?

[2022-04-29 14:57] spicy-sauce commented on #764
This how we register the CommandReader from the CLI:
[code]

[2022-05-01 14:41] #761 closed

[2022-05-01 14:41] #760 closed

[2022-05-04 06:33] spicy-sauce commented on #443
In addition, per our discussion, please add support for offline installation using `--find-links` option.

[2022-05-04 08:36] #764 closed

[2022-05-04 11:58] spicy-sauce opened #769 "on_failed_retry_interval used to be in seconds, now in milliseconds"

[2022-05-04 13:05] spicy-sauce commented on #769
closing, invalid.

[2022-05-04 13:05] #769 closed

[2022-05-11 11:48] #443 closed

[2022-05-12 14:04] spicy-sauce opened #775 "Support `find-links` in RG.PYEXECUTE command"
`find-links` is an array of locations to look for certain packages. You can pass it file paths, individual URLs to TAR or WHEEL files, HTML files, git repositories and more.

[2022-05-16 14:48] spicy-sauce opened #782 "export-requirements to support FORCE_REINSTALL_REQUIREMENTS"

[2022-05-17 16:15] spicy-sauce opened #784 "`RG.PYPROFIL` fails when registering using `UPGRADE` keyword"
127.0.0.1:12001>  RG.PYPROFILE STATS "RedisConnectApplier"
(error) ['Traceback (most recent call last):\n', '  File "<string>", line 308, in profileGetInfo\n', '  File "/var/opt/redislabs/modules/rg/10204/deps/gears_python/python3_1.2.4/lib/python3.7/pstats.py", line 96, in __init__\n    self.init(arg)\n', '  File "/var/opt/redislabs/modules/rg/10204/deps/gears_python/python3_1.2.4/lib/python3.7/p

[2022-06-03 13:28] prankymat commented on #285
I ended up using a bash script to unregister all and register all.

[code]

[2022-06-13 08:55] spicy-sauce opened #785 "Wait for the current batch to end before executing the `upgrade`"
Both for `UPGRADE` and `FORCE_REINSTALL`

[2022-06-15 09:07] AlexMikhalev opened #786 "Crash PanicException: env_logger: due to early initialization of logger"
This one was really difficult to narrow down and while it looks like a third-party library issue, the crash is the result of RedisGears changes during the last several months - the same pipeline used to work a few months ago - I have pinned version of  transformers==4.4.2 and tried to revert to an earlier version sentencepiece.
Actual crash is
[crash.txt](https://github.com/RedisGears/RedisGears/f

[2022-06-15 13:08] PierreMasson opened #787 "StreamReader: multiple register on same stream leads to consumers overlap"
**Describe the bug**
Multiple StreamReader/Consumer on same key/stream seem to use same consumer name. Infinite commands loop begin after that.

**To reproduce**

- Redis

OK

OK

"1655297812968-0"

_Infinite-loop_
"XREADGROUP" "GROUP" "__gears_consumer_group__" "__gears_client__" "COUNT" "1" "STREAMS" "mystream" ">"
"XLEN" "mystream"
_Infinite-loop_

  "name"
  "__gears_consumer_group__"
  "consu

[2022-06-15 13:19] PierreMasson opened #788 "StreamReader: register batch with 0 immediately crash"
**Describe the bug**
Redis crash after register a StreamReader with 0 as a batch value.

**To reproduce**

- Redis

OK
**XADD** mystream * name Pierre

**Excepted Behaviour**

- Redis

OK
**XADD** mystream * name Pierre
1649425223070-0

**Possible Fix**
Add a error message when user try to register a StreamReader function with batch=0

[2022-06-23 11:40] MeirShpilraien opened #789 "Crashed when running python code"
Gears version:1.2.4.
Adding the crash report for future reference, currently we could not reproduce.
@spicy-sauce if you have more details to share please do.
[code]

[code]

[2022-06-30 06:32] MeirShpilraien opened #791 "Pause are not working is the executions repeatedly fails."
When try to pause an registration, if the executions created by the registration repeatedly fails. The pause will return an OK but will not be applied. Example:
[code]
Trying to pause the registration will return `OK` but will continue triggering executions.

[2022-06-30 06:37] MeirShpilraien opened #792 "Registration keeps fire executions when trimming is disabled."
When trimming is disable, RedisGears consumer group might not be at the beginning of the stream, this will cause RedisGears to believe there are always more elements to processes and cause intinite loop of triggered executions. Possible solution is to randomly chose the consumer group name so it will always start from the beginning.

[2022-06-30 07:02] spicy-sauce opened #793 "RedisGears to support import and export requirements in a pip like way"
Currently we have `gears-cli` for this purpose that should be installed separately and uses a dedicated binary format.

[2022-06-30 08:00] chayim commented on #793
Isn't this covered by RG.PYEXECUTE <yourscript> "REQUIREMENTS" pkg, pkg, pkg"

https://github.com/RedisGears/rgsync/blob/0b57e820601036083e35a1d84634fd5cedbfff74/tests/test_sqlwritebehind.py#L434

[2022-07-01 21:44] ThomasFen opened #795 "StreamReader 100 million times "phantom" triggered"
After I stop writing to a stream, repeated `rg.dumpregistrations`-calls indicate fast growing values for the key _Triggered_. It reaches 100 million within minutes but there are no actual new entries in the stream. I experienced this while running this [project](https://github.com/RedisGrafana/redis-camera-ai) without modifications

[2022-07-02 15:11] MeirShpilraien commented on #795
Thanks @ThomasFen, we have encounter a similar issue on internal use of RedisGears and we are working to fix it. If you can give us some more details it will be great:
1. The Redis version
2. The RedisGears version
3. Do you use the trim stream option?

[2022-07-04 09:00] #791 closed

[2022-07-04 11:23] ThomasFen commented on #795
1. redis version=6.2.5
2. gears version=999999
3. trim stream=yes

I just reproduced the issue with a new pull of the project I mentioned. I filled the stream with camera frames until it reaches the `MAXLEN` of 1000. Then I stop adding frames, so no more `xadd` commands are executed. Redis gears processes the remaining 1000 entries and trims the stream until it has a length of only 37 entries. The

[2022-07-04 11:54] MeirShpilraien commented on #795
Thanks @ThomasFen , we still did not figure out how this can happened, we know how to reproduce it when trim stream=no but we do not know how to reproduce it with trimming is enable. If you can share the Redis log file it can help.

[2022-07-05 07:53] #792 closed

[2022-07-15 11:09] poqudrof opened #801 "Typo in Stream documentation example"
Hello,

I could not find a branch for the documentation, so I put this here, please redirect me if this should be done somewhere else.

In the file: https://oss.redis.com/redisgears/readers.html#streamreader

I suppose it should be register:

I'm new to Gears and it got me confused :smiley: .

Cheers,

Jeremy.

[2022-07-15 18:26] MeirShpilraien commented on #801
@poqudrof yes you are right, thanks for reporting, will make sure to fix the docs.
Side note, we do not have branch for documentation, we update master and then cherrypick the relevant fixes to version branches. All the docs are here: https://github.com/RedisGears/RedisGears/tree/master/docs

[2022-08-11 17:37] HenriqueAMiguel opened #808 "failed running gear function"
Hi, I'm trying to add some recipes in RedisGears, and getting this error on pickling or something. Can you help me with this?

Using docker for this on redislabs/redisgears:1.2.5
I already tried with 1.2.4 too

The error:

[code]

I had to minimize the code to not expose my business rule, but it happens even in this minimal document.
The Code:

[code]

If I comment the line "budget = session.query

[2022-08-16 13:49] nemccarthy opened #811 "RedisGears 2.0 and Python support"
We are thinking of using RedisGears for a new project processing transaction data as it looks so cool. Looking at the top of the Readme it seems that v2.0 is only going to support JS functions?

Given the use cases we see and the skill set of our team, python is the preferred language. Will 2.0 still support python?

If not, what is the reason for moving to JS?

[2022-08-16 13:52] gkorland commented on #811
@nemccarthy we are not sure yet which languages are going to be supported, the reason we started with Javascript is due to its sandbox.

[2022-08-16 14:10] HenriqueAMiguel commented on #808
I've found the problem. Putting the object and the methods inside the function fetch_data RedisGears was able to compreend the object created.

[2022-08-16 14:10] #808 closed

[2022-08-16 20:51] thomascaudron commented on #811
There are several reasons on why we decided to go for a JS engine instead of building on top of the Java or Python engine.

- Keep the module footprint to a minimum, because of how Redis is loading modules it is important to keep the footprint as small as possible.
- Better sandboxing possibilities, with RedisGears2.0 we want to focus Gears on logic in Redis.
- JavaScript has a vibrant ecosystem.

[2022-08-24 04:52] varun-vymo opened #817 "RG.REFRESHCLUSTER command exits redis-server process"
`127.0.0.1:6379> RG.REFRESHCLUSTER
Error: Server closed the connection
(0.59s)`

`=== REDIS BUG REPORT START: Cut & paste starting from here ===
4361:M 24 Aug 2022 10:13:29.496 # === ASSERTION FAILED ===
4361:M 24 Aug 2022 10:13:29.496 # ==> src/cluster.c:719 'RedisModule_CallReplyLength(nodeDetailsRelpy) == 3' is not true

------ STACK TRACE ------

Backtrace:
/var/opt/redislabs/modules/rg/10205/

[2022-08-25 08:57] MeirShpilraien commented on #817
Fixed on: https://github.com/RedisGears/RedisGears/pull/818

[2022-08-25 08:57] #817 closed

[2022-09-01 11:36] NirmalP29 opened #821 "Redis Gears only on slave"
I have registered this redis gears function on the slave node in redis.

I want to write all the set commands received in slave from master in redis stream.
Master will have original data and slave will have that data in streams. Can anyone please tell me how can I achieve this?

[2022-09-02 11:36] NirmalP29 opened #822 "Execution max idle reached"
[code]

I am using this version
[code]

Can someone please help me solve this error?

[2022-09-02 12:40] thomascaudron commented on #822
Hi @NirmalP29,

This is based on the 'ExecutionMaxIdleTime' setting: https://oss.redis.com/redisgears/configuration.html#executionmaxidletime

One of the external calls within the script was probably blocked or taking to long to respond.
From the docs:

[2022-09-07 11:29] NirmalP29 commented on #822
Thanks @thomascaudron, It was tls issue. Tls was enabled in redis but not in redis gears.

[2022-09-07 11:34] MeirShpilraien commented on #822
@NirmalP29 can we close the issue?

[2022-09-08 07:18] #822 closed

[2022-09-14 08:58] spicy-sauce opened #823 "`Run` action - `UPGRADE` works only on the current shard"

[2022-09-15 06:42] NirmalP29 opened #824 "Redis Gears not capturing PXAT from SET commands"
[code]

[code]

[code]

When I am running expire command or set pxat command then why redis gears is not extracting those values?
cc: @mukundv18

[2022-09-15 06:44] MeirShpilraien commented on #824
Hey @NirmalP29 can you share your gears code?

[2022-09-15 07:20] NirmalP29 commented on #824
@MeirShpilraien
[code]

[2022-09-19 08:29] NirmalP29 commented on #824
Hi @MeirShpilraien , can you please take a look at this?

[2022-09-19 13:39] MeirShpilraien commented on #824
@NirmalP29 I am not following what is the issue here, what values are you expecting to get? You are getting the keys value: `\"value\": \"b\"`

[2022-09-19 14:19] muvelus commented on #824
@MeirShpilraien We were expecting the TTL value to also be captured by Redis Gears i.e. the value provided as argument to PXAT (1663222180504)

[2022-09-19 14:27] MeirShpilraien commented on #824
No it is not, but maybe you can extract it with [PTTL](https://redis.io/commands/pttl/) command?

[2022-09-21 12:30] dallaybatta opened #825 "Enabling clustering in Redis fails with Redis Gear."
I have build the redis gear from the 1.2 branch few weeks back and was able to run it with the redis from the master, the version of the redis is here

base) vicky@vicky-Latitude-5531:~/development/redis-git/redis$ git log -1
commit c66eaf4e4a019fe379556bd6f725524cca0e2d96 (HEAD -> unstable, origin/unstable, origin/HEAD)
Author: dependabot[bot] <49699333+dependabot[bot]@users.noreply.github.com>
D

[2022-09-21 12:37] MeirShpilraien commented on #825
You are running with Redis from unstable branch. Please try to run with official Redis version.

[2022-09-21 12:39] dallaybatta commented on #825
Yes I guess so. I will try but not sure if I will have to build the RedisGear/RedisTimeSeries and RedisAI again. Let me try use the stable redis server.

[2022-09-21 13:25] MeirShpilraien commented on #825
No need to rebuilt all the modules, only Redis.

[2022-09-22 05:14] dallaybatta commented on #825
I had build Redis6.2, to be precise Redis 6.2.7 (e6f67092/0) 64 bit.
However I have some observations to share

I did build the server and it failed again with some error( cluster-enabled) while I did not bother to note the details of error, I then rebuild the gear module and enabled the clustering with it and it worked. However I did not build the AI and Timeseries module it worked after I remove

[2022-09-22 05:14] #825 closed

[2022-09-22 14:24] MeirShpilraien commented on #824
@muvelus can we close this issue?

[2022-09-22 14:31] #824 closed

[2022-10-11 11:51] dallaybatta opened #827 "yolo5 model when run via redis-gears give more data."
I am unable to get the data field as accurate and expected when I am running the yolo model via redis gears. Following are the details
that will help in simulating it

1)  Creating the pb file using the code from here
https://github.com/ultralytics/yolov5/
vicky@vicky-Latitude-5531:~/development/yolov5$ python export.py --weights yolov5s.pt --include pb
2) The detect.py creates the tensor with out

[2022-10-14 05:34] dallaybatta commented on #827
I got the issue fixed as I missed to perform the slided convolution to the input image before passing it to the model for running the inference, it is working after the image was processed before passing to the model for running the inference.

[2022-10-20 08:22] #827 closed

[2022-11-20 15:56] TomerHekmati opened #833 "gears2 GLIBCXX_3.4.26 missing - failed to create db on cluster"
Load gear-2 to enterprise cluster.
create DB with gears-2.
creation will be stacked on pending, checking the shard logs:
`Failed loading '/var/opt/redislabs/modules/redisgears_2/999999/deps/gears_v8/libredisgears_v8_plugin.so', /usr/lib/x86_64-linux-gnu/libstdc++.so.6: version `GLIBCXX_3.4.26' not found (required by /var/opt/redislabs/modules/redisgears_2/999999/deps/gears_v8/libredisgears_v8_plug

[2022-11-26 17:39] AlexMikhalev commented on #786
Sentencepiece isn't an issue - any tokeniser from huggingface crashes.
[code]
Seems like huggingface logging and gears logging clash.
Is any way to disable logging for gears?

[2022-11-26 23:00] AlexMikhalev commented on #786
The last known working rgcluster I build is tagged:
ghcr.io/applied-knowledge-systems/rgcluster@sha256:e3c807944e3ee550794f578c2ace3ea410adceab3dceb3dc9ba3f30d9f49ea83

ripping off env_logger out tokenizer library didn't help - it's some change inside RedisGears runtime which conflicts with rust based logging.